[2013-11-25 12:04] chibisov opened #1 "Dict filter get fields"
[code]

[2014-02-01 20:32] #1 closed, assigned to nobody

[2014-03-10 11:46] avances123 opened #3 "Be able to pass which cache (in settings.CACHES) I want to use"
Something like bare django cache decorator, in drf-extensions:

[code]

Seems reasonable?

[2014-03-10 12:58] avances123 opened #4 "Etag is sent but browser does not use any Conditional request header"
How is this done?

[2014-03-23 16:34] chibisov opened #5 "Make wheel distribution"
Example https://github.com/tomchristie/django-rest-framework/pull/1233/files

[2014-03-23 16:34] chibisov opened #6 "Use flake8 for pep8 check"

[2014-04-03 22:30] ysugiura opened #7 "Generated etags stay the same after updating contents"
I'm having a trouble to get etag decorator working. Generated etags don't change after updating the corresponding contents (responses from drf views are updated too).

By looking at the code in drf-extensions, the default behaviour of the default_etag_func  seems to be calculating etags  based on requests. Wouldn't it  supposed to be based on responses?

Before attempting to write a custom etag_fu

[2014-04-06 08:20] #7 closed, assigned to nobody

[2014-04-09 21:31] georgewhewell opened #8 "Why are KeyConstructor bits class variables"
Hi - great package, thanks!

I am wondering why the KeyConstructor _bits_ are class variables not instance? It means that it is hard to reuse KeyContructors across different viewsets when only only perhaps the GET param needs changing.

It would ease reuse to be able to specify params when the instance is constructed, as something like

[code]

[2014-04-10 14:14] #8 closed, assigned to nobody

[2014-04-13 12:07] #3 closed, assigned to nobody

[2014-05-02 16:19] brun0kb opened #9 "Cache key 'api_updated_at_timestamp' copy error in docs"
Hi,
There's a small typo (easily overlooked) in the docs, which causes the cache invalidation sample code not to work.

<pre>class UpdatedAtKeyBit(KeyBitBase):
    def get_data(self, **kwargs):
        key = 'api_update_at_timestamp'
        value = cache.get('api_updated_at_timestamp', None)
        if not value:
            value = datetime.datetime.utcnow()
            cache.set(key, value=valu

[2014-05-03 07:45] #9 closed, assigned to nobody

[2014-06-13 18:24] mandx opened #12 "`ExtendedDefaultRouter. get_dynamic_routes` should call `getattr()` with default values"
`ExtendedDefaultRouter. get_dynamic_routes` should call `getattr()` with default values, so the original `@action` decorator still works with the `ExtendedDefaultRouter`.

https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/routers.py#L107

[2014-06-13 21:23] mandx opened #13 "`ExtendedActionLinkRouterMixin` doesn't play well with `drf-nested-routers`"
As suggested in [another issue comment](https://github.com/chibisov/drf-extensions/pull/11#issuecomment-45931507) I tried:

[code]

And the `NestedResourceViewSet` has a `custom_collection_operation` method decorated with `rest_framework_extensions.decorators.action`, but the nested routes are still registered at the root. This is what I need:

[code]

But they are generated at the root:

[code]

[2014-06-15 10:02] #12 closed, assigned to nobody

[2014-06-22 15:31] chibisov opened #14 "Nested router breaks DefaultRouter index page"
DefaultRouter tries to reverse nested routes and breaks with error:

[code]

[2014-06-22 16:02] #14 closed, assigned to nobody

[2014-06-23 14:42] #13 closed, assigned to nobody

[2014-06-23 17:41] cancan101 opened #15 "NestedViewSetMixin suport for saving"
Is looks like using the `NestedViewSetMixin` auto generates the filter code for nested routers, but does nothing for saving.

I would recommend something like the following for a URL like `companies/company_pk/locations/location_pk`:

[code]

to be auto generated so that a user posting to the above URL can omit those fields which are determined by the URL itself.

[2014-06-27 19:54] kevin-brown opened #16 "Mixin for last-modified header"
There is a mixin for etags, which is really useful, but in many cases it would be better to deal with caching based on a date.  In a lot of our data, we store the last time something was modified which means we would be able to use the `last-modified` header for caching purposes.

[2014-07-03 13:55] thedrow opened #17 "Hyperlink fields that support nested serialization"
drf-nested-routers provides (incomplete) nested versions of hyperlinked fields (https://github.com/alanjds/drf-nested-routers/blob/master/rest_framework_nested/relations.py).
It be awesome to have those in drf-extensions.

[2014-07-07 10:05] farridav opened #19 "release to pypi"
HI @chibisov thanks for the great work here, I'm looking to move my nested routers over from [DRF Nested routers](https://github.com/alanjds/drf-nested-routers) to this package as it offers some other cool enhancements, but I see that functionality is not available on the latest pypi version.. any ideas on when it will be ? (so i don't have to install this package from github)...

Thanks in advanc

[2014-07-07 10:59] #19 closed, assigned to nobody

[2014-07-08 22:29] stefanor opened #20 "0.2.4 source tarball contains .pyc files, confusing setuptools"
[code]

This breaks `bdist_egg`:

[code]

Please publish a new release without the `.pyc` files.

[2014-07-09 12:51] #20 closed, assigned to nobody

[2014-07-16 01:26] sueastside opened #21 "NestedViewSetMixin does not support GenericForeignKey"
My use case is as followed, I have a Comment model that can attach to any resource

[code]

My router then looks like:

[code]

This of course fails because it expects one of content_type, object_pk, comment...

I made an attempt to fix it, but getting the parent's model is not straight forward, any thoughts or ideas?

[code]

[2014-07-16 15:24] sgalaburda opened #22 "Nested routers do not return 404 error for non-existing resources"
Let we have the following models

[code]

and there is no books and no pages in the db.  The URL to list pages related to certain book is `/books/<BookID>/pages/`.

How to reproduce:
perform GET request to /books/999/pages/

Expected result
404 code is returned because there is no book with id 999

Actual result
Empty list is returned.

[2014-07-18 07:30] #21 closed, assigned to nobody

[2014-07-18 13:56] cancan101 opened #23 "Migration Guide for those coming from drf-nested-routers"
Create a migration guide/ "compare" section for those coming over from: https://github.com/alanjds/drf-nested-routers.

[2014-07-19 20:14] maryokhin opened #25 "Extend ResourceUriField to point to nested list resources"
As far as I understand the default functionality allows to use `ResourceUriField` to point only to a `detail` view. In my use-case I want something like this:

[code]

Of course, I could just implement my own field, but wouldn't this be useful functionality in `drf-extensions`?

[2014-07-21 16:02] #25 closed, assigned to nobody

[2014-07-25 09:26] flisky opened #26 "inefficient cache clients"
Should be a regression, refer #3

[2014-07-28 07:12] #26 closed, assigned to nobody

[2014-07-31 21:42] cancan101 opened #27 "Docs are missing release dates for 0.2.4 and 0.2.5"
Other release have dates: http://chibisov.github.io/drf-extensions/docs/#release-notes

[2014-08-01 06:58] #27 closed, assigned to nobody

[2014-08-04 05:30] #4 closed, assigned to nobody

[2014-08-05 02:22] aidanlister opened #28 "ListETAGMixin + filter_fields + invalid data produces an EmptyQuerySet exception"
class InspectionItemViewSet(ListETAGMixin, viewsets.ModelViewSet):
    model = InspectionItem
    filter_fields = ('property', )

If you access the API with e.g. /api/v1/inspectionitems/?property=(null) ... this throws an EmptyQuerySet exception here:

[code]

[2014-08-11 05:26] #28 closed, assigned to nobody

[2014-09-04 14:18] Matt3o12 opened #30 "list_route isn't working using the ExtendedSimpleRouter."
When using the ExtendedSimpleRouter, list_route won't route the traffic correctly. Instead of using `/viewSet/methods` it uses `/viewSet/pk/methods`.

The list_route and detail_route decorators where added in DRF 2.4 to replace the @action and @link decorators. There much more flexible and allow routing requests to list views or detailed views. There are extremely helpful when requesting the curre

[2014-09-05 06:27] chibisov opened #31 "Write documentation about usage of collection level controllers with list_route and detail_rout"
New in DRF 2.4 http://www.django-rest-framework.org/api-guide/viewsets#marking-extra-actions-for-routing

Maybe we need functional tests for compatibility of ExtendedRouter with these new decorators.

[2014-09-06 15:41] ondrowan opened #32 "@cache_response doesn't seem to be working with DRF 2.4"
I'm getting following exception while using DRF 2.4 and Django 1.7:

[code]

It works alright if I downgrade to DRF 2.3 or remove `@cache_response` from given view.

[2014-09-09 07:26] #32 closed, assigned to nobody

[2014-09-11 06:31] aidanlister opened #34 "Etag strategy for resource lists and nested resources"
I'm coming across two problems:
- When fetching a list of resources, the etag stays the same even if resources in the list have changed.
- If a resource has a serialised nested resource, when the nested resource is updated, the parent e-tag is not.

Can you think of a strategy to deal with either of these issues?

[2014-09-24 13:22] debuggerpk opened #35 "nested viewset and router on the same level"
so i want to do

[code]

when i do this

[code]

it gives me this urls

[code]

which is not what i want .. how do i get it consume two endpoints at the same level

[2014-09-25 04:48] #35 closed, assigned to nobody

[2014-09-29 21:17] nofeet opened #36 "Cannot create key bits for args and kwargs of decorated methods"
I think it's useful to generate cache keys based on the positional and/or keyword method arguments for the decorated method. In particular, if I have a view for a URL that's like `GET /cities/(?P<user_id>)/`, then Django will pass a kwarg called `user_id` to my view.

I see that there are key bits for params and request. Why not args or kwargs? Please see my pull request for a simple implementatio

[2014-10-09 16:52] #34 closed, assigned to nobody

[2014-10-09 16:57] #15 closed, assigned to nobody

[2014-10-09 17:05] chibisov opened #38 "Document CRUD operations approach for nested routes"
Based on http://stackoverflow.com/questions/24938731/automatically-set-relation-when-posting-object-in-nested-router-uri and #15

[2014-10-09 17:28] chibisov opened #39 "DRF 3.x compatibility"
https://github.com/tomchristie/django-rest-framework/blob/version-3.0/docs/topics/3.0-announcement.md

[2014-10-09 18:23] chibisov opened #40 "DRF 3.0 docs compatibility"
#39

[2014-10-13 09:08] fladi opened #41 "Include license text"
It would be nice if you could include the license text of the BSD license variant that you prefer. This would make it possible to distribute your package as a Debian package.

[2014-10-13 10:11] #41 closed, assigned to nobody

[2014-10-31 15:20] maryokhin opened #44 "DetailSerializerMixin returns detail serializer repr. on list URL"
We ran into a minor snag with using `DetailSerializerMixin`. When `POST`'ing to a list URL, you are returned the detail serializer representation, and therefore you see a weird thing like this:
![2014-10-31 16 12 59](https://cloud.githubusercontent.com/assets/4390231/4862922/913689c0-6110-11e4-84d1-623fa4ccb76f.png)
So as you see, we are still on the `/posts/`URL, but we see a post <b>instance</b>

[2014-11-01 10:18] chibisov opened #46 "DetailSerializerMixin DRF 3.0 compatibility"

[2014-11-01 10:21] #46 closed, assigned to nobody

[2014-11-01 10:34] chibisov opened #47 "PartialUpdateSerializerMixin compatibility with DRF 3.0"
Now it fails https://travis-ci.org/chibisov/drf-extensions/jobs/39676716

[2014-11-03 12:43] frwickst opened #50 "Allow optional regex changes for parents query lookups in nested routers"
Hi!
I noticed that when using a ExtendedSimpleRouter and registering routes that might have a dot "." in their lookup regex will cause the lookup to fail. I presume that the prefix creation here [here](https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/routers.py#L178) was made with pk lookups in mind. However, there might be (as in my case) times where dots are a par

[2014-11-03 16:59] #44 closed, assigned to nobody

[2014-11-06 03:26] cancan101 opened #52 "Automatically determine `select_related` and `prefetch_related` on ModelSerializer"
What do you think about adding something along the lines of https://github.com/tomchristie/django-rest-framework/issues/1964 to drf-extensions?

@thedrow offers a pretty good write-up on a workable approach: https://github.com/tomchristie/django-rest-framework/issues/1964#issuecomment-59645915

[2014-11-06 04:20] cancan101 opened #53 ""GitHub Style" Nested Routing"
Support for GitHub style nested routing:

[code]

this instead of:

[code]

[2014-11-24 08:06] #36 closed, assigned to nobody

[2014-11-24 12:08] chibisov opened #54 "List routes don't work with drf 2.4.4"
Reported by @acastellana.

In DRF 2.4.4 neither @link(is_for_list=True) nor @action(is_for_list=True) work properly. Any advance on this issue?

Thanks!

Update. Seems that DRF 2.4.4 already has a @list_route() decorator

[2014-11-24 18:57] cancan101 opened #55 "Don't Require base_name on register of Nested Routes"
Currently DRF does the following:

[code]

Why not do the following? This should work.

[2014-11-24 19:14] cancan101 opened #56 "Smarter parents_query_lookups"
If the `lookup_field` of the ViewSet pointed to by a nested route is not set to `pk` then the `parents_query_lookups` should end with `__<lookup_field>`:

[code]
where `TestUnderPersonViewSet` has its `lookup_field = 'uuid'`.

[2014-11-24 21:15] cancan101 opened #57 "ExtendedDefaultRouter root view is polluted"
I am using `ExtendedDefaultRouter` with nested routes. Right now my root view is being polluted by the sub items:
[code]
[code]

[2014-11-24 22:15] cancan101 opened #58 "Smarter Way of Doing HyperlinkedIdentityField"
Right now I feel that in order to use `HyperlinkedIdentityField` I end up repeating myself.

[code]

My urls.py looks like:

[code]

Is there a smarter / cleaner way of doing this?

[2014-11-24 23:13] cancan101 opened #59 "ListModelViewSet"
Consider adding the following to viewsets:

[code]

This would complement `ReadOnlyModelViewSet`.

See: https://github.com/tomchristie/django-rest-framework/issues/2113

[2014-11-24 23:38] cancan101 opened #60 "SerializerAPI - Mixin for using different Serializer for browsable API"
Along the lines of `DetailSerializerMixin`:

[code]

[2014-11-27 14:18] maryokhin opened #61 "Review supported versions"
I wanted to update Travis/tox configs, but saw that `drf-extensions` supports a bunch of old versions. Based on discussion <a href="https://github.com/tomchristie/django-rest-framework/pull/2123">here</a> and <a href="https://github.com/jpadilla/cookiecutter-django-rest-framework/issues/1">here</a> and also <a href="https://github.com/jpadilla/cookiecutter-django-rest-framework/pull/2">here</a>, p

[2014-11-27 17:42] #61 closed, assigned to nobody

[2014-12-16 11:08] stevelacey opened #62 "Mixin to include ETag in list responses"
Just wondering whether it makes sense, or there's scope, to add a mixin that includes the ETag for each result in a list response, say as a key in the JSON– I essentially want to get a bunch of a results, and use the ETag from each to If-Match PATCH them.

Is that a sensible approach? Is it easy to add? Should there be a mixin in this repo to add that?

[2015-01-01 10:15] chibisov commented on #62
I'm closing it for now.

[2015-01-01 10:15] #62 closed

[2015-01-01 10:32] stevelacey commented on #62
If anyone else comes across this, I went for doing the list request just to get the pks, then individual detail requests to get the ETag, then If-Match requests to update the resources... inefficient, but does the job, and I'm not going to lose sleep over it.

[2015-01-06 16:13] davidmir opened #66 "PartialUpdateSerializerMixin `.save_object()` that is no longer compatible with REST framework 3."
Hi,

I'm getting this error using PartialUpdateSerializerMixin with DRF 3.0:

AssertionError: Serializer `tasks.serializers.task.TaskSerializer` has old-style version 2 `.save_object()` that is no longer compatible with REST framework 3. Use the new-style `.create()` and `.update()` methods instead.

Is this a bug?

Thanks in advance

[2015-01-07 09:56] chibisov commented on #66
It's a bug, related to #39

I'm working on it. Hope will fix it this week.

[2015-01-08 16:35] alexmakeev opened #67 "Nested Relations get_url patch"
Привет, перепробовал кучу вещей в инете для nested drf routing, остановился на твоем пакете.
У тебя отсутствует генератор полей-ссылок на nested-urls (у базового не хватает kwargs для reverse).

class HyperlinkedNestedIdentityField(HyperlinkedIdentityField):

    def __init__(self, view_name=None, additional_reverse_kwargs={}, **kwargs):
        self.additional_reverse_kwargs = additional_reverse_

[2015-01-11 23:23] cancan101 commented on #57
@kevin-brown Thoughts?

[2015-01-12 01:32] kevin-brown commented on #57
@cancan101 looks like we're still waiting on @chibisov.

For what it's worth, you'd have this issue without the custom router now that DRF [also has the `try...except` code in place](https://github.com/tomchristie/django-rest-framework/blob/e9ac1bb78add68635e7f0881c16d2a3ddda2f1b5/rest_framework/routers.py#L299-L307).

[2015-01-12 08:07] #66 closed

[2015-01-12 08:09] chibisov commented on #66
@davidmir, I've pushed fix to master branch. It would be cool if you tried it before I released new version.

[2015-01-12 08:15] chibisov commented on #47
Fixed here #66

[2015-01-12 08:15] #47 closed

[2015-01-12 15:30] cancan101 commented on #57
@kevin-brown:

The issue here is that `register` called on `NestedRegistryItem` adds to the `registry` of the underlying router rather than keeping a separate list of sub URLs.

This is different from how [drf-nested-routers works](https://github.com/alanjds/drf-nested-routers/blob/master/rest_framework_nested/routers.py#L47) where each nested router keeps track of the URLs (routes) at its level.

[2015-01-26 07:51] chibisov commented on #52
By and large I think it's too magic. Closing this issue.

[2015-01-26 07:51] #52 closed

[2015-01-26 08:32] chibisov opened #68 "Deprecate action and link decorators"
Due to [extra link and actions](http://www.django-rest-framework.org/api-guide/routers/#extra-link-and-actions)

[2015-01-26 08:36] #68 closed

[2015-01-27 11:08] maryokhin opened #70 "Support for DRF 3.0.3 url_path"
Currently it is not possible to use `drf-extensions` routers with <a href="http://www.django-rest-framework.org/topics/release-notes/">DRF 3.0.3</a> `@detail_route(url_path='xxx')` and `@list_route(url_path='xxx')`, because it passes `url_path` in `initkwargs` to the `viewset` instance through `as_view()` which leads to this stack trace:
[code]
I'll try to look into this issue more closely, and pr

[2015-01-27 11:16] maryokhin commented on #70
The reason it's not passed to the view on the core Router implementation, is because it's <a href="https://github.com/tomchristie/django-rest-framework/blob/fdeef89ba79e617ea22dae68a0b42b3f60d67a4d/rest_framework/routers.py#L180">popped out</a>.
[code]

[2015-01-27 11:52] chibisov commented on #70
#54

[2015-01-29 12:58] caxap opened #71 "'cache_response' decorator pickle error."
I run into the problem after update to django-rest-framework==3.0.4:

[code]

[2015-01-29 13:05] chibisov commented on #71
Could you provide more code snippets from your app? For example, view implementation.

[2015-01-29 13:35] caxap commented on #71
Sure, I found that problem related to defautdict w/ lambda expression:

[code]

But in fact if you remove  `@cache_response` decorator or replace `defaultdict(lambda: 1.0)` to something w/o lambda `defaultdict(int)` it works fine.

[2015-01-29 13:43] chibisov commented on #71
Hm, does it work without `@cache_response` decorator? Python can't pickle and store in cache your lambda function:
[code]

[2015-01-29 13:53] caxap commented on #71
I think i works because of https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/utils/encoders.py#L58

DRF performs additional steps to encode response data.

[2015-02-02 14:09] chibisov commented on #70
Please, don't use [collection level controllers](http://chibisov.github.io/drf-extensions/docs/#collection-level-controllers) and [controller endpoint name](http://chibisov.github.io/drf-extensions/docs/#controller-endpoint-name) with DRF => 2.4. These features are hard to maintain because of new [extra link and actions](http://www.django-rest-framework.org/api-guide/routers/#extra-link-and-action

[2015-02-02 14:09] #70 closed

[2015-02-02 14:10] chibisov commented on #54
Please, don't use [collection level controllers](http://chibisov.github.io/drf-extensions/docs/#collection-level-controllers) and [controller endpoint name](http://chibisov.github.io/drf-extensions/docs/#controller-endpoint-name) with DRF => 2.4. These features are hard to maintain because of new [extra link and actions](http://www.django-rest-framework.org/api-guide/routers/#extra-link-and-action

[2015-02-02 14:10] #54 closed

[2015-02-02 14:11] chibisov commented on #30
Please, don't use [collection level controllers](http://chibisov.github.io/drf-extensions/docs/#collection-level-controllers) and [controller endpoint name](http://chibisov.github.io/drf-extensions/docs/#controller-endpoint-name) with DRF => 2.4. These features are hard to maintain because of new [extra link and actions](http://www.django-rest-framework.org/api-guide/routers/#extra-link-and-action

[2015-02-02 14:11] #30 closed

[2015-02-02 14:15] #40 closed

[2015-02-02 14:15] #39 closed

[2015-02-06 04:28] grjones commented on #15
+1 on reopening and solving this issue.  I'm not sure why this would be closed given the level of uncertainty of the current behavior.  I understand the `m2m` issue is the hard piece, but as it is now most developers are going to assume wrongly that the parent is going to be set in the CRUD operations.

[2015-02-16 22:35] maryokhin commented on #70
But I didn't use them :) The issue was about DRF's `@detail_route` and `@list_route` with it's new `url_path` feature + `drf-extensions` router. Anyway, either me or someone from my team will investigate further and notify if the issue should be reported.

[2015-02-17 07:12] chibisov commented on #70
But why you need drf-extensions router, if you don't use it's features?

[2015-02-17 09:54] maryokhin commented on #70
I meant that we aren't using `@action` and `@link` contollers, because as you said, they are deprecated. We are using the regular router features to build the nested routes + `@detail_route` and `@list_route`.

[2015-02-18 18:48] spac3-monkey commented on #67
great, that helped me a lot. The only thing I found is that only works for one level depth.

[2015-02-18 19:12] spac3-monkey commented on #67
with that in mind I modified it a little bit so I could used to more level depth like `object.object1.object2_id.
[code]
That allows me in case of several nested views doing the following:

[code]

[2015-02-18 19:27] spac3-monkey commented on #67
with that in mind I modified it a little bit so I could used like `object1.object2.object3_id`.
[code]
use example:
[code]

[2015-02-19 00:13] maryokhin commented on #67
I think the idea for `drf-extensions` to support nested urls like `/users/1/posts/1/` and `/users/1/posts/` with out-of-the box serialised fields is great. Would rename `additional_reverse_kwargs ` to something shorter though, like `lookup_kwargs`.

[2015-02-19 00:19] spac3-monkey commented on #67
Agree, I keep it this way following the @alexmakeev pattern.

[2015-02-19 10:45] maryokhin commented on #67
Also, I think `HyperlinkedIdentityField` is only pointing to the object itself, so it should be `HyperlinkedNestedRelatedField`.

[2015-02-19 10:49] maryokhin commented on #70
For some reason, I missed this sentence:

And read it as Nested<b>Viewset</b>Mixin, that where all the confusion came from.

[2015-02-19 10:57] AndySun25 commented on #70
I have switched to using `NestedRouterMixin` with drf's own `SimpleRouter` and url_path is working somewhat. However now I have run into an additional issue.
As the `url_path` is <a href="https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/routers.py#L174">popped out</a> when used, it is unavailable to every subsequent `get_routes` call.

I will provide a rough example

[2015-02-19 14:56] spac3-monkey commented on #67
Agree also

[2015-02-27 11:02] dochead commented on #15
Just to echo grjones above, took me quite a while to get here after wondering what I was doing wrong because I assumed the parent would be set automagically.

May I suggest that this be made clear in the docs, it's a fairly pertinent piece of info.

[2015-02-27 22:07] njamaleddine opened #76 "(Enhancement?) Ability to cache response as a different content_type from the Browseable API"
My cached responses were storing `text/html` when one might want the ability to store `application/json`.

Perhaps we can have a `content_type` passed in through the kwargs of `@cache_response()`. Apologies if I missed something in the docs or code by accident.

I am aware of the global setting below and the ability to pass `content_type`s into a Response object or rendered response in Django REST

[2015-02-28 10:19] chibisov commented on #76
I couldn't understand your case. Maybe [FormatKeyBit](http://chibisov.github.io/drf-extensions/docs/#formatkeybit) will help you? Could you describe your problem in more details?

[2015-02-28 16:43] neokree opened #77 "Connect docs to full examples"

[2015-02-28 19:39] njamaleddine commented on #76
My apologies I realized that I had an error in the key function. I was creating the same key for the list method regardless of the client. So when I was viewing the API in the browser it was storing the response data in `text/html`. And when I viewed it with something like curl it was showing the cached response, grabbing the same key and showing `text/html`. I'll have to modify my key so it store

[2015-02-28 20:14] #76 closed

[2015-03-02 08:07] chibisov commented on #77
Nice idea. For now we don't have example app and you can look at tests https://github.com/chibisov/drf-extensions/blob/master/tests_app/tests/functional/routers/nested_router_mixin/tests.py

[2015-03-02 17:19] sazary commented on #17
guys, you seriously need to note this in your documentations with bold font! I've wasted some really precious hours trying to do this and now I'm seeing this. the error message doesn't help at all too: `Could not resolve URL for hyperlinked relationship using view name "productfield-detail". You may have failed to include the related model in your API, or incorrectly configured the "lookup_field"

[2015-03-03 19:50] neokree opened #78 "nested permissions with nested routers"
Hi,
Nested routers filter his parent id using the parents_query_lookups parameter, but how I can access to that resource for creating my permissions?

Based on your example into [docs](http://chibisov.github.io/drf-extensions/docs/#nested-routes):
For <code>GroupViewSet</code> I want to create a permission that allow to CREATE a new group only if the user authenticated id is equal to the user id s

[2015-03-04 07:26] chibisov commented on #78
Hi. You can extend `GroupViewSet` for nested usage, like I've described in [this](https://github.com/chibisov/drf-extensions/issues/15#issuecomment-47745649) comment.

[2015-03-04 12:27] neokree commented on #78
Thanks a lot!

[2015-03-04 12:27] #78 closed

[2015-03-05 00:05] neokree commented on #15
Hi!
Why not simple call the <code>self.get_parents_query_dict()</code> for getting all url values?

[2015-03-05 22:16] neokree commented on #15
@chibisov I don't know if there is a way to find the model from a related field, but I suppose yes.
[code]
You should add <code>create</code> and <code>update</code> override in <code>NestedViewSetMixin</code>.

I have copied rest_framework implementation of create then I added related datas from parents_query_dict to a new dict and used it in get_serializer instead the base request.data

[2015-03-20 19:09] caffodian opened #79 "@list_route name in Extended routers doesn't match that of DRF routers"
Hi, sorry if this is covered somewhere already, I couldn't find anything in the documentation.

Is there a reason why @list_route are named differently in the extended routers compared to the DRF built in routers?

DRF uses `{basename}-{methodname}` for both detail_route and list_route [router doc](http://www.django-rest-framework.org/api-guide/routers/#extra-link-and-actions) , whereas drf-extens

[2015-03-20 19:27] chibisov commented on #79
DRF-extension's [collection level controllers](http://chibisov.github.io/drf-extensions/docs/#collection-level-controllers) had been developed before DRF's '@list_route'

You must use DRF's `@list_route`, because DRF-extension's decorator is in pending deprecation and will be removed in next releases.

[2015-03-20 21:01] caffodian commented on #79
Yes - I am using DRF's list_route.  Are these not usable with the ExtendedRouterMixin?  I was hoping to add nested routes to an existing project, though I guess I could just make another Router that only used the NestedRouterMixin but not the ExtendedActionLinkRouterMixin.

If I am not supposed to use @list_route with ExtendedRouterMixin then you can disregard the rest. ;)

[2015-03-21 08:04] chibisov commented on #79
If you want to use nesting facilities you should mixin [NestedRouterMixin](http://chibisov.github.io/drf-extensions/docs/#nested-router-mixin) into your router.

[2015-03-23 05:43] #79 closed

[2015-05-01 14:36] cancan101 opened #80 "Mixin for Allow Header Value to Take in to Account permission_classes"
Follow up from: https://github.com/tomchristie/django-rest-framework/issues/2751.

Something like:
[code]

[2015-05-01 15:01] chibisov commented on #80
I like it. Could you make pull request with tests?

[2015-05-04 07:00] pbdeuchler opened #81 "'NestedRegistryItem' object has no attribute 'urls'"
Expected Routes:
[code]

Router:
[code]

With the error coming from:
[code]

[2015-05-04 09:05] maryokhin commented on #81
The mistake is in this line:

[code]
Here you get a _route_, not a _router_.

Therefore, to avoid confusion, you should name it:
[code]
and then do `router.urls` instead of `garden_router.urls + plant_router.urls`. Hope that helps.

[2015-05-05 08:37] chibisov commented on #81
@pbdeuchler, please, close the issue if @maryokhin's comment helped.

[2015-05-12 01:11] cancan101 opened #82 "AllowPUTAsCreateMixin"
What do you think of pulling the [`AllowPUTAsCreateMixin`](https://gist.github.com/tomchristie/a2ace4577eff2c603b1b) into drf-extensions?

The linked coded needs a little cleaning but is mostly good to go"

[code]

[2015-05-12 01:19] cancan101 opened #83 "DefaultRouterExtensible"
The issue right now is that if there are multiple applications within the same Django project, the root api view does not pull in all end points. This helps to solve that problem.

What do you think of pulling in something like: https://github.com/tomchristie/django-rest-framework/pull/2001 to drf-extensions?

The implementation would look something like:
[code]

[2015-05-12 04:21] cancan101 opened #84 "AbstractModelSerializer"
[DRF will not auto generate a Serializer for an Abstract class](https://github.com/tomchristie/django-rest-framework/issues/2630).
What do you think about adding a `AbstractModelSerializer`?
This is my first pass of an implementation:
[code]

[2015-05-12 04:25] cancan101 opened #85 "_is_request_to_detail_endpoint"
Why is [`_is_request_to_detail_endpoint`](https://github.com/chibisov/drf-extensions/blob/c4143618dc9fa7fd6d008f3b464f8b7e394709a0/rest_framework_extensions/mixins.py#L30) written like this:
[code]
rather than:
[code]

[2015-05-12 08:05] chibisov commented on #82
Good mixin. Code, tests, docs and pull.

[2015-05-12 08:08] chibisov commented on #83
I believe that extensible DefaultRoute should be in core of DRF.

[2015-05-12 08:14] chibisov commented on #85
I don't remember why, but you can change implementation and watch if there are any failing tests. And why don't you like it?

[2015-05-12 13:52] kevin-brown commented on #85
It's written like that because it's checking explicitly to see if it's a detail endpoint, so a request that is affecting a specific object (as defined by the lookup). This is slightly different than "a request that is retrieving an object", and can apply to updating and retrieving, as well as custom view methods.

[2015-05-12 13:56] chibisov commented on #85
Thank you @kevin-brown.

[2015-05-12 14:15] cancan101 commented on #85
Given what that method is used for internally, do you want the set of requests that it applies to to be as broad as @kevin-brown lists?

[2015-05-12 14:18] cancan101 commented on #83
Unless @tomchristie has changed his mind since the last discussion, that won't be happening.

[2015-05-13 10:32] tomchristie commented on #83
It wont. Routers and viewsets are already too complicated, and there's no reason variations on them can't instead be supported in third party packages.

[2015-05-15 12:47] frwickst opened #86 "NestedViewSetMixin returns ValueError if the wrong pk type is given in URL"
Lets say you have the following nested url:
/books/23/pages, which works fine, and then change the url to
/books/NOT_AN_INTEGER/pages
this will cause the server to throw:
[code]

I am running:
Django 1.7
djangorestframework 3.1.1
drf-extensions 1.5.2

[2015-05-15 13:03] frwickst commented on #86
A suggestion for a fix here is to have a try-except around `queryset.filter()` like so:
[code]
This would cause the server to respond with 404 Not Found instead.
I don't know if this is something you want to do or of you have a better solution in mind. I'll create a pull request if you think this is enough :)

I noticed that Django did something similar here:
https://github.com/django/django/commi

[2015-05-15 13:16] gnarea commented on #17
Just found myself in the same situation as @sazary, so I second his suggestion of giving people the heads-up.

By the way, isn't #67 the root cause for this? It's hard to tell since the description is in Russian.

[2015-05-15 14:50] gnarea commented on #67
I've had a go at having this fixed, taking the original patch and the recommendations above. What do you think about this?
https://gist.github.com/gnarea/1a2bd805237400cb37ef

[2015-05-16 11:36] maryokhin commented on #86
This is because the url kwarg lookup allows non-integer [regex](https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/compat_drf.py#L19-L21). A proper solution would be to allow the user to set the `lookup_value_regex` on the viewset (failed attempt #63). This is issue just shows that without a solution this can actually be considered a bug.

[2015-05-26 04:40] pbdeuchler commented on #81
Sorry for taking so long to get back to this... using this method apparently effects both regex groups when I set `parent_query_lookups` with registering on `plant_routes`, so I'm getting this error:
[code]

new code:
[code]

[2015-05-27 09:25] frwickst commented on #86
Sorry, but I don't see that as a proper solution. That would put the responsibility on the developer using drf-extensions, to see to it that a 500 error is thrown on a default setup. That is not OK in my book at least.

The problem here is not that the router does not handle custom regex values, but that it tries filtering a query with non-proper values.

I have created a pull request with the fix

[2015-05-27 21:44] rrauenza commented on #17
Would be great if this could be fixed.  I just spent an hour or two trying to figure out why I was getting the same error.

[2015-06-09 14:40] jsenecal commented on #17
Same here... It would be great to have such documentation.

[2015-06-15 09:32] elioscordo commented on #71
Hi,
any solutions for this? I am using a ModelSerializer...
It is also hard to understand where the pickle error comes from.

[2015-06-15 09:36] magarcia opened #91 "list_route isn't working using the NestedViewSetMixin"
When using the NestedViewSetMixin, list_route won't route the traffic correctly. Instead of using `/viewSet/methods` it uses` /viewSet/pk/methods`.

I found #30 and #31 that looks like a very similar issue. I made a workaround using `@action(methods=SAFE_METHODS, is_for_list=True)` that works with NestedViewSetMixin. But actually I'm doing a mixin that declares this routes and can be used by a Nes

[2015-06-15 14:15] magarcia commented on #91
I've noticied that the problem isn't with the NestedViewSetMixin, is the ExtendedSimpleRouter. Reopen #30.

[2015-06-15 14:17] magarcia commented on #30
This issue still existing as I say in #91.

[2015-06-15 20:55] mlavin opened #92 "PaginationKeyBit Incopatible with DRF 3.1"
`page_kwarg` and `paginate_by_param` are no longer set on the view instance by default in favor of new the `pagination_class` http://www.django-rest-framework.org/topics/3.1-announcement/#pagination This means that the `PaginationKeyBit` does not take into account the pagination when generating the cache keys for the listing views.

[2015-06-30 17:22] robert-malai commented on #15
+1 for this feature. I will apply the same approach from @neokree;

About the ideology: I've worked with update-able queries: basically named queries used as views in which one can create new records: properties of the filter condition gets applied to the new record.

In the case of nested routes, because you are using identity based filtering, you are creating views which can be updated, in contr

[2015-06-30 18:11] robert-malai commented on #15
(I will apply the same approach from @neokree;)
I'll take that back; one is interested only in the parent relation only; it might suffice to append all the filters as to the current request date, hope for no name collision and the serializer will filter out unneeded values.
The cleanest approach, because kwargs is unsorted, is the one recommended by https://github.com/chibisov/drf-extensions/issue

[2015-07-02 05:19] inabhi9 commented on #91
You can extend the ExtendedSimpleRouter and override the `get_dynamic_routes()` that changes the `is_for_list = getattr(attr, 'is_for_list', False)` to `is_for_list = not getattr(attr, 'detail', True)` for `@list_route` to work properly

[2015-07-29 06:38] rosscdh opened #96 "DEFAULT_CACHE_RESPONSE_TIMEOUT - not being respected"
Hey there, great extension! thanks for that

Having a strange issue with the response timeout never flushing. I have to restart uwsgi to get the cache flushed.

Current settings are.

[code]

As you can see I've taken the defaults but my cache never expires.

Any thoughts?

[2015-07-29 06:59] chibisov commented on #96
Hi, could you try memcached backend? I believe it could be issue with in-memory caching.

[2015-07-29 07:48] rosscdh commented on #96
Thanks @chibisov I've created a PR for a docs change: https://github.com/chibisov/drf-extensions/pull/97 appreciate the quick feedback. Switched to redis_cache and seems to work well.

[2015-07-31 14:36] jrivera294 opened #98 "One to one / One to many nested permission"
I'm trying to add some permissions to the nested routes, but as I explain in this post on stackoverflow (http://stackoverflow.com/questions/31733891/django-rest-extensions-nested-route-permissions) when I create a nested route, I cant apply a permission that protect the list method for the nested resource, because the list resource use get_permission method in the permission class, and I don't hav

[2015-07-31 15:16] chibisov commented on #98
You can try to extend nested viewsets like it explained here http://chibisov.github.io/drf-extensions/docs/#usage-with-generic-relations

[2015-07-31 15:46] jrivera294 commented on #98
I'm extending from NestedViewSetMixin.

[2015-07-31 16:18] ronsuez commented on #98
I'm wondering if there a way to check the ownership permissions of a nested resource taking in account the object owner of that resourse, in order to be able to filter the nested queries  by ownership of an specific resource.

E.g: an user must have access  only to their profile.

/user/1/profile/ -> returns a list of all profiles that match with a specific user id,  I want to disable this option

[2015-08-07 13:19] rosscdh commented on #96
Sorry this still seems to be an issue...

[code]

does not update at all.. :(

[2015-08-20 19:26] izzybelll opened #100 "Issue with Nested Routers"
I followed the snippets of coding from the example for the Nested Routers extension, but when I do something like /posts/2/comments/ it returns ALL the comment objects I have in my database. It won't return just the comments for my post object with id "2." Is there something I need to do in the queryset for the Viewsets????

[2015-08-28 12:43] izzybelll opened #101 "AssertionError at /api-root/post/ for Nested Routers"
I upgraded to DRF 3.0 with Python 2.7 on Django 1.8 and I'm getting this error when I try to access the api page:

AssertionError at /api-root/post/
'PostViewSet' should either include a `queryset` attribute, or override the `get_queryset()` method.'

Is the Nested Router extension not compatible with DRF 3.0? It works fine on DRF 2.4 but I only got this error when I upgraded the DRF.

[2015-08-29 15:04] chibisov commented on #96
Please, show me how you cache your views

[2015-09-03 08:24] rosscdh commented on #96
@chibisov thanks caching like this

[code]

[2015-09-07 16:54] a1Gupta opened #102 "caching function based views"
From the docs -
"DRF-extensions allows you to cache api responses with simple @cache_response decorator. There are two requirements for decorated method:
It should be method of class which is inherited from rest_framework.views.APIView
It should return rest_framework.response.Response instance."

Are there any plans to include caching for function based views in drf-extensions? Function based view

[2015-09-08 07:58] chibisov commented on #102
I don't have plans for making `@cache_response` compatible with FBV. If you want it you could make a pull request with this functionality.

[2015-09-08 08:00] chibisov commented on #100
Please, show me your views and routers implementation.

[2015-09-09 17:09] howardjones commented on #17
Ah, I have been getting the same error as @sazary and assumed it was to do with view namespaces or lookup_field (I am using lookup_field, which made it even more confusing!).

If I remove the HyperlinkedRelationshipFields from my Serializer, can ExtendedDefaultRouter work with lookup_field anyway? I am aiming to get URLs like: `/api/locations/{location}/items/{itemname}` (both models have a pk tha

[2015-09-11 10:42] nemesisdesign commented on #71
I just upgraded a project to DRF 3.2.3 and I bumped into this issue.

Here's a code sample of [nodeshot.core.cms.views](https://github.com/ninuxorg/nodeshot/blob/master/nodeshot/core/cms/views.py):

[code]
Stacktrace:
[code]

[2015-09-11 10:46] nemesisdesign commented on #71
Just wondering, could it be a DRF bug? We bumped into a [similar bug in DRF-gis](https://github.com/djangonauts/django-rest-framework-gis/issues/78).

[2015-09-11 12:37] nemesisdesign opened #103 "Any plan to upgrade drf-extensions for django 1.8 and DRF 3.2?"
Is there any plan to upgrade drf-extensions for django 1.8 and DRF 3.2?

Are contributions wanted? If yes are there any suggestions?

[2015-09-18 18:46] clintonb opened #104 "Release a new version to PyPI"
There have been a [number of changes since 0.2.7](41fc6fb06b3ef8368198a72f14ed7124577c5725). Are you planning to release a new version to PyPI?

[2015-09-21 06:31] chibisov commented on #104
Done.

http://chibisov.github.io/drf-extensions/docs/#0-2-8
https://pypi.python.org/pypi/drf-extensions/0.2.8

[2015-09-21 06:31] #104 closed

[2015-09-23 13:18] jrivera294 opened #105 "Error: invalid literal for int() with base 10: <field> : when lookup field is not the primary key."
Hi, I'm having a problem with the drf-ext nested routes. I can change the lookup_field in a viewset without problems, but when I make a nested route with this view as parent, I get this error:

ValueError at /lists/asdf/members/
invalid literal for int() with base 10: 'asdf'

I think that its because the parent_query_lookup is pointing to the primary key of the list model, that is a number, not to

[2015-09-23 13:37] jrivera294 commented on #105
Forget it. I solved it modifying the filter_queryset_by_parents_lookup method.

	def filter_queryset_by_parents_lookups(self, queryset):
		parents_query_dict = List.objects.get(name=self.get_parents_query_dict()['mail_list']).id
		if parents_query_dict:
			try:
				return queryset.filter(id=parents_query_dict)
			except ValueError:
				raise NotFound
		else:
			return queryset

[2015-09-23 14:13] chibisov commented on #105
I believe you've made a bad hack. Just try to change `parents_query_lookups=['mail_list']` to `parents_query_lookups=['mail_list__name']`

[code]

[2015-09-23 14:17] jrivera294 commented on #105
Well... it's embarrassing, When I was testing I typed mail_list_name with one '_'. And I hought that it will not work.

Thank you very much.

[2015-09-23 14:17] #105 closed

[2015-10-01 11:36] mbox commented on #7
Sorry @chibisov but that is not the purpose of ETag. See https://en.wikipedia.org/wiki/HTTP_ETag - an ETag should change if the CONTENT ever changes for a resource, not if the REQUEST changes.

This default implementation is dangerously wrong - if put into use it will result in all sorts of hard-to-diagnose caching issues.

[2015-10-01 12:10] chibisov commented on #7
@mbox but the request changes the way content rendered. Doesn't it?

[2015-10-01 14:19] mbox commented on #7
If the underlying entity has not changed, then the same request should return the same response. A different request can of course produce a different response.

So the Etag should be calculated based on the entity to be returned - I guess it would be fine to mix in things like the Language and Encoding headers when deciding if the content is the "same". But it's definitely not OK to generate the

[2015-10-01 16:01] chibisov commented on #7
You're absolutely right. But `DefaultKeyConstructor` is simple and works under assumption that you'll have a stale cache only till `CACHE_TIMEOUT` time will come. If you need a custom cache invalidation logic just add it.

[2015-10-02 04:00] mbox commented on #7
You're right for reads that this just means a stale value will be served for `CACHE_TIMEOUT` seconds - which may or may not be an issue for a particular system.

However, Etags aren't just used for read implementations - they are the foundation of detecting conflicts on updates. Allowing a window for data destruction during `CACHE_TIMEOUT` doesn't seem like a good idea to me.

Fundamentally I thin

[2015-10-13 11:32] sauliuni opened #106 "PUT/POST not working on nested view sets"
Hello,

im using the NestedViewSet for my REST application. The problem is that it seems to be correclty configured, and viewing nested rescources works as it should be. Even deletion and put of elements can be made. The problem i have is the POST (creation of new element): the element is created but it is not linked to the parent object, e.g.

POST localhost/elements --> Works, Element is created

[2015-10-13 12:05] chibisov commented on #106
Nesting only works with read requests. `parents_query_lookups` just adds lookups to view's queryset. There is no way drf-extensions would do that for write requests. You have to extend default view's create/update methods. `NestedViewSetMixin.get_parents_query_dict` method can help for retrieving parent lookups.

[2015-10-24 22:20] nrabe opened #107 "Default key bit RetrieveSqlQueryKeyBit fails when lookup_url_kwarg != lookup_field"
File "/home/vagrant/.virtualenvs/todoapp1/local/lib/python2.7/site-packages/rest_framework_extensions/key_constructor/bits.py", line 201, in get_data
    lookup_value = view_instance.kwargs[view_instance.lookup_field]
KeyError: 'slug'

I believe view_instance.lookup_field should be replaced with: view_instance.lookup_url_kwarg.

[2015-10-26 16:09] pdvorchik commented on #92
Any update on this issue?  Definitely a frustrating problem.

[2015-10-28 12:52] patvdleer opened #112 "Import error for urlparse"
[code]

As a result of:
[code]

[2015-10-28 12:55] patvdleer commented on #112
My bad, moved to correct repos https://github.com/alanjds/drf-nested-routers/issues/56

[2015-10-28 12:55] #112 closed

[2015-10-30 10:28] edmorley commented on #5
I was about to file an issue requesting a wheel package, but spotted this.
http://pythonwheels.com/ has some more advice fwiw.
Thanks :-)

[2015-11-11 06:56] auvipy commented on #103
should be drf 3.3 now

[2015-11-11 07:06] auvipy opened #113 "remove support of django less then 1.7 as latest drf do that"

[2015-11-11 07:06] auvipy commented on #103
#113

[2015-11-11 12:37] codingjoe commented on #113
:+1: I would only support the latest Django version. If someone needs to support an older version, he can always use an older release of this package. Makes developing easier.

[2015-11-11 12:40] auvipy commented on #113
well you need to support all the maintained version of django. like 1.8 is an LTS, but the versions less then 1.7 are officially End of their life cycle and should be upgraded to LTS/more newer version :)

[2015-11-11 13:00] codingjoe commented on #113
You don't have to, you can. I would exclude LTS versions. That would have meant support for 1.4 until April this year. Oh hell no! :-1:

[2015-11-11 13:08] auvipy commented on #113
1.8 LTS for 3 years :p and a new LTS in every 3 years

[2015-11-13 16:29] glynjackson commented on #107
I have a different error on the same call:

[code]

Is now giving:

[code]

[2015-11-17 06:05] auvipy opened #114 "Move the project under a new github organisation for allow more volunteers to help maintain the project."
seems good option? @chibisov

[2015-11-17 07:16] chibisov commented on #114
Good option. Any idea for organisation?

[2015-11-17 07:25] auvipy commented on #114
yeah!!! lets create a new github orga naming drf-extensions, after creating that going on this projects setting select transfer ownership (you will remain the bdfl of the project and can select some volunters with specific authority via github ) and move the project under new org. all the issues should be auto migrated in the new org. as its a fairly smaller project issues introduced by migration

[2015-11-18 13:15] auvipy commented on #114
didn't like? @chibisov

[2015-11-18 13:55] chibisov commented on #114
Why should I create new organization? I could just invite some collaborators with permissions for merging pullrequests, no?

[2015-11-18 14:46] auvipy commented on #114
thats ok too!!! :)

[2015-11-21 08:39] #114 closed

[2015-11-21 08:53] chibisov opened #115 "Looking for the new core collaborators"
I've been working with Django and Django Rest Framework for years. `drf-extensions` is the most valuable contribution I've ever made to open source. But these day I don't use Django for my daily job and don't have time to review pool requests or resolve issues. `drf-extensions` have been used by hundreds of companies and developers. I think it's time to move on and I'm looking for the new core col

[2015-11-21 08:56] chibisov commented on #114
#115

[2015-11-21 09:17] auvipy commented on #115
contacted!

[2015-11-25 04:11] auvipy commented on #115
I sent you a mail.

[2015-11-30 16:27] auvipy commented on #103
yes will be updated to drf 3.3.x and latest django release

[2015-11-30 17:54] #92 closed

[2015-12-01 12:18] #115 closed

[2015-12-01 16:24] auvipy commented on #113
resolved with d08425c8db7061e32303f3caf041aa322fcc8382

[2015-12-01 16:24] #113 closed

[2015-12-01 16:27] auvipy commented on #103
d08425c8db7061e32303f3caf041aa322fcc8382 updated

[2015-12-01 16:27] #103 closed

[2015-12-01 16:30] auvipy commented on #86
PR?

[2015-12-01 16:32] auvipy commented on #59
is the issue still valid in your thought?

[2015-12-01 16:36] auvipy commented on #53
+1 and contributions are wellcome

[2015-12-01 16:37] auvipy commented on #56
1 year later, what are thoughts now?

[2015-12-01 16:38] auvipy commented on #23
PR wellcome.

[2015-12-01 18:19] auvipy commented on #6
i use it personally and its a great tool

[2015-12-01 18:35] #5 closed, assigned to auvipy

[2015-12-01 18:44] auvipy commented on #91
then is a doc improvement needed only issue?

[2015-12-01 18:46] auvipy commented on #17
I'm considering this feature to be included.

[2015-12-01 18:47] auvipy commented on #17
this should be addressed after releasing 0.3.0 version

[2015-12-02 01:29] 5amfung opened #116 "pip install drf-extensions is still picking 0.2.8 instead of 0.3.0"
I guess pypi hasn't been updated to the latest version.  0.2.8 is still being picked up.

[2015-12-02 03:59] auvipy commented on #116
yes not pushed to pypi yet. try the master branch with git clone and report if got any issue.

[2015-12-02 13:34] nangia opened #117 "etag_func evaluation should happen after resource is computed"
Consider an API request GET /nowtime/ implemented as following:

[code]

Every time I call this API, I would expect a new value of the resource irrespective of whether I pass If-None-Match or not.

However, this is not the behaviour I see.

When, I call `/nowtime/` without sending in `If-None-Match`, I get the following (showing the results using httpie.org).

Output is:

Now, when I call the API

[2015-12-02 13:45] nangia commented on #117
I noticed another thing:

Whenever I call the API GET /nowtime/ I always see the same ETAG. I am using the default etag implementation. Aren't we supposed to get a different ETAG based on differing output?

BTW, I am using drf-extensions==0.2.8.

Output

[2015-12-02 14:26] chibisov commented on #117
That's correct because [Default key constructor](http://chibisov.github.io/drf-extensions/docs/#default-key-constructor) doesn't know how to invalidate your cache. Please, read [how to create custom key bit](http://chibisov.github.io/drf-extensions/docs/#custom-key-bit)

[2015-12-02 21:32] auvipy commented on #98
/user/1/profile should return only a profile associated with that, what are the outputs? any code?

[2015-12-06 15:05] auvipy commented on #117
@chibisov this issue should be closed as invalid?

[2015-12-06 15:08] auvipy commented on #100
closing as lack of activities

[2015-12-06 15:08] #100 closed

[2015-12-06 15:22] auvipy commented on #101
is the problem still valid?

[2015-12-06 15:22] #101 closed

[2015-12-06 15:24] auvipy commented on #96
valid? or close as invalid?

[2015-12-06 15:34] auvipy commented on #91
@chibisov  thoughts?

[2015-12-06 15:36] auvipy commented on #86
@frwickst this issue should be open to be fixed with workaround?

[2015-12-06 15:37] auvipy commented on #84
New maintainer here, what do you think the benefits of serializing abstract models?

[2015-12-06 15:44] auvipy commented on #83
class ContainerRouter(DefaultRouter):
    def register_router(self, router):
        self.registry.extend(router.registry)

router = ContainerRouter()
router.register_router(router1)
router.register_router(router2)

urlpatterns = [
    url(r'^api/', include(router.urls)),
]

[2015-12-06 15:46] nangia commented on #117
@chibisov, thank for you response. I tried going through the code as well. To me it appers that, the etag is computed based on various possible inputs like current languge, URL, sql query used etc before the actual evaluation of response (after a sql query is fired on database). Is this understanding correct?

If so, this leads to a possible case, where the URl, sql query, page for a GET query is

[2015-12-06 15:49] auvipy commented on #60
still valid?

[2015-12-06 20:51] chibisov commented on #117
Absolutely. drf-extensions only does simple key construction. You have to invalidate cache data by this key by custom logic. No magic in this place.

[2015-12-06 20:51] #117 closed

[2015-12-06 21:08] chibisov commented on #60
I'll add my thoughts here. I think these kind of problems should be solved by some kind of state machine. For example described declaratively:
* `for "detail" view => this serializer`
* `for format "api" => this serializer`
* etc...

[2015-12-08 19:48] JoshAddington commented on #116
Any ETA on getting 0.3.0 on PyPi?

[2015-12-09 13:13] cosmith opened #119 "Error when retrieving cache"
Hi, I upgraded to Django 1.9 and the caching seems to be broken. I don't think you support 1.9 yet, but maybe someone here has an idea of where I can look? Thanks!

[code]

[2015-12-09 13:14] cosmith commented on #116
You can download it with `pip install git+https://github.com/chibisov/drf-extensions@master` if you want to use pip

[2015-12-09 13:47] cosmith commented on #119
Someone here seems to have the same issue but that's all I could find: http://stackoverflow.com/questions/33356687/typeerror-from-django-cache

[2015-12-09 14:40] auvipy commented on #119
Exception Value: __new__() takes exactly 3 arguments (2 given)

[2015-12-09 14:41] auvipy commented on #119
dj 1.9 support would be added soon. but PR's are well come if you are proactive.

[2015-12-09 14:47] auvipy commented on #119
would u plz share the code?

[2015-12-10 09:46] cosmith commented on #119
I'd be happy to send a PR once I figure out what's going on!

This is my code, nothing fancy:

[code]

[2015-12-10 09:59] cosmith commented on #119
I have the same issue with a simple UserViewSet (with the default Django User model) and no custom key function, so it doesn't seem to come from my code.

[2015-12-11 18:05] auvipy commented on #57
closing

[2015-12-11 18:05] #57 closed

[2015-12-11 18:06] auvipy commented on #56
closing as lack of activities.

[2015-12-11 18:06] #56 closed

[2015-12-23 21:37] GerardPaligot opened #120 "Invalidation of cache not working"
In advance, I'm sorry if it isn't the right place for this issue but I didn't find any IRC or mailing list to post my question/issue.

I use drf-extensions on an open-source project where we have private messages. Our API covers these private messages and we have specified a timeout of 15 minutes on our API.

Unfortunately, drf-extensions don't seem to invalidate the cache. If I create a message i

[2015-12-24 06:12] auvipy commented on #120
https://github.com/chibisov/drf-extensions/issues/119 same as this issue?

[2015-12-24 06:13] chibisov commented on #120
Hi, could you show your view, route and settings source? If it's open source could you provide a link to it?

[2015-12-24 13:32] GerardPaligot commented on #120
The open-source project is this one: https://github.com/zestedesavoir/zds-site. It is a french project. Documentation, issues and pull requests are in french but the code is in english.

You have a module for private message [here](https://github.com/zestedesavoir/zds-site/tree/dev/zds/mp) with its api [here](https://github.com/zestedesavoir/zds-site/tree/dev/zds/mp/api). You can see all keys of t

[2015-12-30 22:05] aijogja commented on #7
I also have an issue like @mbox explanation. What is the custom etag_func that I should write to handling etag when the result was changed?

I use:
djangorestframework==3.3.1
drf-extensions==0.2.8

Thanks

[2016-01-07 15:30] gustavi commented on #119
Some news of Django 1.9 support ?

[2016-01-08 08:56] cosmith commented on #119
I upgraded to 3.3.1 and everything seems to be working fine so I'll close this. It was related to this bug https://github.com/tomchristie/django-rest-framework/issues/3628 in DRF.

[2016-01-08 08:56] #119 closed

[2016-01-08 09:28] auvipy commented on #119
haha

[2016-01-08 14:57] tizot commented on #116
Hi! Do you know when you will push the last version on PyPi ? I have some difficulties to make CircleCI work with the solution given above...
Thank you!

[2016-01-08 16:15] auvipy commented on #116
master branch only work with 1.8, work on support 1.9 will be started on next week. but if you beat me to do that first please feel free to send a PR!

[2016-01-12 17:05] auvipy commented on #120
Try updating to drf 3.3.2

[2016-01-12 17:11] auvipy commented on #59
feel free to send PR

[2016-01-14 23:04] GerardPaligot commented on #120
We are working on the migration to Django 1.9 and with that, the update to 3.3.2 for DRF.

As soon as it is done, I'll let you know here.

[2016-01-16 04:54] auvipy commented on #120
ok. I'm also working on supporting 1.9 compat for drf-ext

[2016-01-28 09:00] AdrianRibao opened #122 "Routers fails to build urls for viewsets with @list_route methods"
If a viewset has a custom method decorated with `@list_route`, the router it adds the url with a required `pk` parameter.

I'm talking about root routes, not nested ones, I didn't try with a nested route,

[2016-01-29 22:14] cancan101 commented on #122
Dupe of #91

[2016-01-29 22:17] cancan101 commented on #91
In general `ExtendedActionLinkRouterMixin` seems to be a copy and paste of a very old version of the DRF `SimpleRouter`.

[2016-01-30 15:05] #122 closed

[2016-02-07 05:08] adminq80 opened #124 "Last commit is over two months"
Hey guys,

Thanks for doing this, but I would like to know if this project is still active or not.

Abdulrahman

[2016-02-07 05:58] auvipy commented on #124
It's still active. as you know I'ts an open source project so maintainers are not bound to work if they don't have time. You are welcome to contribute.

[2016-02-07 07:42] adminq80 commented on #124
Yah I know I just wanted to make sure it's alive before I started using it.

[2016-02-07 09:30] auvipy commented on #124
work for supporting django 1.9 version is going on.

[2016-03-03 22:32] heyitsjames opened #125 "NestedSimpleRouter not filtering"
Hi all,

I'm willing to chalk this up to my own stupidity, but I can't get the NestedSimpleRouter to filter my requests based on the `parents_query_lookup`. Here's my code:

routers.py:
[code]

urls.py:
[code]

views.py:
[code]

models.py:
[code]

No matter what I try, something like `campaigns/3/ad-slots` returns all of the `Subscription` models, regardless of campaign. Am I missing something? Th

[2016-03-09 06:13] auvipy opened #126 "move test runner to py.test"

[2016-03-09 06:20] auvipy opened #127 "move tests to tests/ instead of test_app"
@chibisov is there any reason the tests are located inside test_app?

[2016-03-09 08:23] chibisov commented on #127
Tests for drf-extensions starts inside an app which is installed to test project (because drf-extensions by itself is not an app)

[2016-03-09 16:41] AncAinu commented on #17
So now that we are on version 3.3.0, and this ticket still open, do you plan to include this feature @auvipy  ?

[2016-03-09 18:21] auvipy commented on #17
contributions are welcome

[2016-03-09 18:23] auvipy commented on #17
I'm busy with cleaning up the drf-extension codes from legacy codes.

[2016-03-10 19:09] danpoland opened #128 "@list_route and @detail_route url_path parameter breaks ExtendedSimpleRouter"
The list route and detail route decorators work fine on ViewSets routed by the ExtendedSimpleRouter except when you use the url_path argument in the decorators.

The following exception is thrown:
TypeError: MyViewSet() received an invalid keyword 'url_path'

[2016-03-10 19:09] danpoland commented on #128
If I can find time in the next few weeks I will take a crack at this.

[2016-03-17 12:09] anka-sirota opened #129 "@cache_response cannot cache HttpResponse"
If view returns a normal HttpResponse object, cache_response decorator fails with an AttiributeError trying to call a render() on it:

[code]

According to [DRF documentation](http://www.django-rest-framework.org/api-guide/responses/), views are not obliged to return a Response object, so checking if it is indeed a Response object and needs to be rendered should fix the issue

[2016-03-29 20:54] auvipy opened #133 "drf bug issue"

[2016-03-29 20:54] auvipy commented on #133
https://github.com/django-guardian/django-guardian/commit/501695a190ff20aff13715311fd05062e67401c6

[2016-03-29 20:55] auvipy commented on #133
https://github.com/tomchristie/django-rest-framework/issues/4005

[2016-03-30 20:25] auvipy commented on #58
hi,

do you have any suggestions regarding the issue?

[2016-03-30 20:28] auvipy commented on #50
are the discussed issued solved? or anything remain?

[2016-03-30 20:29] #6 closed

[2016-03-30 20:30] auvipy commented on #16
@kevin-brown do you feel to send a PR?

[2016-03-30 20:33] auvipy commented on #71
@nemesisdesign did you fixed the issue on your branch? if so feel free to send a PR

[2016-03-30 20:36] auvipy commented on #84
@cancan101 ping

[2016-03-30 20:37] auvipy commented on #128
please feel free

[2016-03-30 20:49] cancan101 commented on #84
One case:
If I want to map between different representations of data, I find it convenient to declare an abstract model and then use the Serializer to deserialize on one side and serialize on the other.

Another:
Base model is abstract and I want to serialize it.

[2016-03-31 07:02] auvipy commented on #67
would love to see this in this project.

[2016-03-31 07:03] auvipy commented on #81
@pbdeuchler you were able to fix the issue?

[2016-03-31 07:04] auvipy commented on #82
love to see this in @cancan101

[2016-03-31 08:24] auvipy commented on #85
@kevin-brown @cancan101 ping about the issue

[2016-03-31 08:38] auvipy opened #137 "Add more useful hooks to the package"
* More Fields
* Views
* Mixins
* Viewsets
* Auth hooks

[2016-03-31 09:39] auvipy opened #138 "Consider adding Composed/condition based permissions"
For simple way to define complex and multi-depth (with logic operators) permission objects, using small and reusable components.

[2016-03-31 15:46] adamn commented on #116
Any update on this?  Just a PyPI version from the last passing build would be great (b8cc970).  Minor versions could follow.

[2016-03-31 17:33] auvipy commented on #116
@adamn I'm working hard for last few days to make this project compatible with django 1.9. everything on master should work. The issue is that the tests are failing for some django gurdains issues and small assertion errors. but nevertheless you could use it. Please give it a try on you project and issue anything get wrong.

[2016-03-31 22:50] chronossc opened #142 "Nested routes allow creation of objects for another parent object"
So, consider two models as example:

[code]

This router:

[code]

Now if you issue a `POST` to `/users/1/accounts/` with `{"user": 2, "avatar": "www.example.com"}` the account is created for user with ID 2 instead ID 1.

Serializers (which create the stuff in DB) will use `request.data` and `request.data` have `{"user": "2"}`. DRF-Extensions need to force the correct user in this situations.

One

[2016-04-02 09:45] auvipy commented on #129
any work around to fix it?

[2016-04-02 10:02] #127 closed

[2016-04-04 17:34] pbdeuchler commented on #81
I have not @auvipy, but I also haven't worked on this project in a while

[2016-04-04 17:38] auvipy commented on #81
the issue is valid then?

[2016-04-04 17:38] pbdeuchler commented on #81
I would believe so

On April 4, 2016 at 11:38:37 AM, Asif Saifuddin Auvi (notifications@github.com) wrote:

the issue is valid then?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-08 08:49] w121211 commented on #84
+1
Some cases I need to manipulate temporary data but not really go into the database. Use an abstract model to represent these data improve the readability and consistency as a Django app. It will be helpful if I don't need to declare the data structure again in a serializer.

[2016-04-11 18:51] #133 closed

[2016-04-13 14:24] greemo commented on #128
Any progress on this? I have just hit this issue and was going to look at it myself to see how complicated the patch will be.

[2016-04-13 15:00] greemo commented on #128
Actually, I'm working on it now.

[2016-04-14 08:31] greemo commented on #128
I totally adapted the code to the latest django rest @list_route and @detail_route specifiers. The code could be cleaned up further, but for the moment, this got me going...

[2016-04-14 08:55] greemo commented on #128
This issue is fixed on the current master branch - https://github.com/chibisov/drf-extensions/commit/0a82b4c57ab95e53c56e5e71cfe71f5a33812a65

[2016-04-14 10:02] auvipy commented on #128
closing as fixed

[2016-04-14 10:02] #128 closed

[2016-04-16 09:20] rahulvgmail opened #145 "UpdatedAt causing cache miss"
most of my code is straight out of documentation.

only thing i changed is this

class CustomListKeyConstructor(DefaultKeyConstructor):
    updated_at = UpdatedAtKeyBit()
    all_query_params = QueryParamsKeyBit()

if i comment out " updated_at = UpdatedAtKeyBit()"  values are picked form cache. if i add that, it always misses the cache.

the request format is

http://52.34.132.24/travelogue/restt

[2016-05-03 04:26] gustavi commented on #124
`matser` now supports Django 1.9. Could you make a release ?

[2016-05-10 11:22] flinz opened #148 "Caching with CacheResponseMixin & BrowsableApiRenderer caches logged in user"
I am not sure whether this is an issue or a misunderstanding on my part.

I am creating a cached viewset via
[code]

If I am logged in as a user, the whole rendered response is being cached, including the logged in user rendered in the BrowsableApiRenderer. Thus anonymous users are also able to see the response containing the logged in user:
![cachedlogin](https://cloud.githubusercontent.com/asset

[2016-05-11 01:19] timb07 commented on #142
I'm facing a similar problem, which I'm addressing by adding to NestedViewSetMixin:

[code]

This probably doesn't correctly handle all possible configurations, but it's working for mine.

[2016-05-11 05:38] auvipy commented on #142
@timb07 could you send a pr? we will then review and figure out proper work around?

[2016-05-17 08:37] tevinjoseph opened #149 "DRF caching works for specific IP only"
I have cached my Django views using Memcached. The caching works fine when requests come from a particular IP but it directly hit database when requests made from other IPs.

I'm currently using Django Rest Framework and for caching I use: http://chibisov.github.io/drf-extensions/docs/#caching

What I need is I want to cache API results regardless of the IP.

I have asked the question in stackover

[2016-05-17 10:44] #149 closed

[2016-06-14 21:14] ckcollab opened #151 "Invalidating cache?"
First of all: thanks so much for all of the hard work on this! I was able to implement caching super fast.

It'd be awesome if I could somehow invalidate all of the cache keys for a given view, for example if I have caching for "Companies" in my app and I update Companies, it'd be great if I could just say:
`UserKeyConstructor.invalidate_all()` or some such.

Is this possible? I noticed from key c

[2016-06-15 07:33] chibisov commented on #151
Hi. You can try to implement [custom key bit](http://chibisov.github.io/drf-extensions/docs/#custom-key-bit)

[2016-06-15 17:16] ckcollab commented on #151
Hrm, how would I invalidate many cache keys at once, though, if all the keys are hashed eventually? For example, say I have a view with query params like `?office=1` or `?office=2` -- what if I want to iterate over all keys to remove them? Or maybe if I make a custom key, it's not hashed??? Maybe then I could use a prefix and remove all keys with some prefix?

Thanks for the quick advice! Really a

[2016-06-15 17:28] ckcollab commented on #151
Actually think I figured something out, I can do something like this:

[code]

[2016-06-15 18:37] ckcollab commented on #151
Yep that worked beautifully, thanks so much!

[2016-06-15 18:37] #151 closed

[2016-06-17 03:57] Qlzsxxryacttao opened #152 "the response of the route api-root is '{}'"
the response of the route api-root is '{}'

[2016-06-17 04:39] Qlzsxxryacttao commented on #152
def get_api_root_view(self):
        """
        Return a view to use as the API root.
        """
        api_root_dict = OrderedDict()
        list_name = self.routes[0].name
        for prefix, viewset, basename in self.registry:
            api_root_dict[prefix] = list_name.format(basename=basename)

        class APIRoot(views.APIView):
            _ignore_model_permissions = True

[2016-06-21 20:02] GerardPaligot commented on #120
Well, my open source project released a new version with [Django 1.8](https://github.com/zestedesavoir/zds-site/blob/dev/requirements.txt#L7), [Django Rest Framework 3.3.3](https://github.com/zestedesavoir/zds-site/blob/dev/requirements.txt#L25) and [drf-extensions 0.2.8](https://github.com/zestedesavoir/zds-site/blob/dev/requirements.txt#L29) but the bug is always present.

When I insert new data

[2016-06-25 23:35] kevin-brown opened #154 "Minimum requirements?"
The README currently alludes to the following minimum requirements

- DRF 2.3.8+/3.0.0+
- Django 1.5+
- Python 2.7/3.4/3.5

But the `setup.py` suggests a minimum DRF version of 3.3.1 and the tests suggest a minimum Django version of 1.8.

What are the actual minimum requirements to use this package?

[2016-06-26 06:58] auvipy commented on #154
that is for present version available on pypi. the masters branch supports newer versions.

[2016-07-02 12:23] Sshuichi opened #155 "Is python 2.7 not supported with latest releases ?"
I'm using Django 1.9.7, DRF 3.3.3 with Python 2.7, action decorators don't seem to work, when I set the endpoint parameter to change the url name.

Does that mean that it won't work for my setup ?

[2016-07-02 12:34] auvipy commented on #155
2.7 is supported along with 3.5 and 3.4

[2016-07-02 12:35] auvipy commented on #155
action decorators wont be working as they are deprecated in favor of drf's detail-route

[2016-07-02 12:35] #155 closed

[2016-07-02 12:35] #154 closed

[2016-07-02 15:54] Sshuichi commented on #155
Tha ks @auvipy , how to achieve the same function of actions with the drf decorators ?

[2016-07-13 17:05] raphendyr commented on #142
Does #153 fix this?

[2016-07-13 17:07] auvipy commented on #142
i didn't verify that, so im not sure

[2016-07-15 08:21] lwm opened #156 "DRF 3.4.0 ExtendedDefaultRouter compat issue"
http://www.django-rest-framework.org/topics/3.4-announcement/

[code]

[2016-07-16 23:29] mirskiy opened #158 "serializer_detail_class is required on DetailSerializerMixin"
Per the docs, "If you use DetailSerializerMixin and don't specify serializer_detail_class attribute, then serializer_class will be used."

However, it serializer_detail_class is not included, I get an error:
`AssertionError: 'StaffViewSet' should include a 'serializer_detail_class' attribute`

Not a big deal, but figured docs or code should be updated to match.

Assert is https://github.com/chibis

[2016-07-17 03:36] auvipy commented on #158
PR welcome :)

[2016-07-18 18:24] mirskiy commented on #158
Sure, which do you want changed - code or docs?

[2016-07-18 19:35] auvipy commented on #158
the docs should be the first if the code changes are not that vital :)

[2016-07-20 18:03] Soviut opened #159 "CacheResponseMixin doesn't work with custom list and response methods"
I have a viewset with custom `list()` and `retrieve()` methods. I can put `@cache_response()` decorators on the methods and it successfully gets and sets to the cache. However, if I try to use `CacheResponseMixin` nothing happens.

The following does not cache.

[code]

[2016-07-21 10:52] #156 closed

[2016-07-29 06:04] jkblgithub opened #160 "CacheResponseMixin does not work with pagination"
I have added CacheResponseMixin to my viewset, but only the first page is cached and returned for all other pages e.g. /?page=2 simply returns the results for page 1.

[code]

I am using django 1.85. Is this a bug or am I missing something please?

[2016-08-09 22:27] mochawich opened #161 "ViewSet object has no attribute 'kwargs'"
Upgrading to DRF 3.4 seems to break this method

[code]

[2016-08-09 22:35] mochawich commented on #161
It seems to be an issue in DRF
https://github.com/tomchristie/django-rest-framework/issues/4278

[2016-08-09 22:35] #161 closed

[2016-08-16 09:36] TurashovAndrey opened #162 "drf-extensions fails with 'cannot import name 'patterns'' error on django 1.10"
drf-extensions fails with the next error on django 1.10:

Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x7f80e9ede598>
Traceback (most recent call last):
File "/lib/python3.4/site-packages/rest_framework_extensions/compat.py", line 22, in <module>
from django.conf.urls import patterns, url, include
ImportError: cannot import name 'patterns'

[2016-08-16 12:15] auvipy commented on #162
please try the master branch and then report what issues you are facing with drf-ext

[2016-08-17 09:56] TurashovAndrey commented on #162
With the latest master everything works correctly. Thanks.

[2016-08-17 10:40] #162 closed

[2016-08-17 12:10] lwm opened #163 "No module named 'django.conf.urls.defaults'"
[code]

PR on the way ...

[2016-08-17 12:19] lwm commented on #163
Oh, my error, [it's already fixed](https://github.com/chibisov/drf-extensions/blob/0306a3ab934e6c5f31603e7f452742ac9a5c7c28/rest_framework_extensions/compat.py#L24). Just something local.

[2016-08-17 12:19] #163 closed

[2016-08-17 16:39] pga23 opened #164 "Not compatible with Django 1.10"
ImportError: No module named 'django.conf.urls.defaults'
in rest_framework_extensions/compat.py
after upgrade from Django 1.9.9 to Django 1.10

[2016-08-17 17:02] auvipy commented on #164
plz try master branch

[2016-08-18 22:54] jbsag commented on #160
I had the same problem on Django 1.9.9 with drf-extensions 0.2.8.

The default list cache key function uses `PaginationKeyBit`. I am thinking something must not be working with the `PaginationKeyBit` class. What I did that has been working for me is make a custom list cache key function which also uses the `QueryParamsKeyBit` class.

[2016-08-24 07:12] rudigiesler commented on #164
I have the same problem. @auvipy the master branch fixes it for me, is it possible to get a release to PyPI?

[2016-08-24 07:29] auvipy commented on #164
the problem is we need to update a lot of test, but don't have the time.

[2016-08-24 21:41] SkinyMonkey commented on #163
I'm having the same issue.
Using drf last version and drf-extensions last version installed with pip

Could you please explain to me what's going on?

[2016-08-25 09:09] SkinyMonkey commented on #163
I'll try.

Thank you! :)

[2016-08-30 09:18] jkblgithub commented on #160
@jbsag Thanks. I did what you suggested and all is working well now. For anyone who might be interested, this is the code I used:

[code]

[2016-08-30 09:19] #160 closed

[2016-09-01 20:08] joeyespo commented on #164
@auvipy

Any way to publish a "beta" release to PyPI in the meantime?

Django-polymorphic [did that](https://github.com/django-polymorphic/django-polymorphic/issues/225) for [the same reasons](https://github.com/django-polymorphic/django-polymorphic/issues/225#issuecomment-241655755) and it was very helpful.

[2016-09-02 05:31] auvipy commented on #164
Hi, I am a co maintainer of this project though do all the house keeping now a days, but I don't have the pypi release key access right now, and the creator of the project won't let publish anything if test keep failing. we need to fixed many test failures first. fixing the 1.8 ones will certainly fix a lot of 1.8, 1.9 and 1.10 branch. problem is I don't have much time so looking for contributors

[2016-09-02 05:32] auvipy commented on #164
you could try from master branch in the mean time

[2016-09-18 11:29] cerberusaeon commented on #164
How's this coming along?

[2016-09-28 06:15] chibisov opened #167 "Release new version to pypi"
- Add commits to changelog
- Add all test builds to required
- Update documentation

[2016-09-28 15:49] garykrige commented on #164
Works for me with this fix #165

[2016-09-28 17:08] #164 closed

[2016-09-29 06:17] chibisov commented on #167
0.3.1 version released. Thank you all guys for the contribution 👍

http://chibisov.github.io/drf-extensions/docs/#0-3-1
https://pypi.python.org/pypi/drf-extensions/0.3.1
https://github.com/chibisov/drf-extensions/releases/tag/0.3.1

[2016-09-29 06:17] #167 closed

[2016-10-03 05:04] auvipy commented on #116
3.1 rleased

[2016-10-03 05:04] #116 closed

[2016-10-05 22:08] mbaragiola commented on #17
Any news about this?

[2016-10-15 15:36] #124 closed

[2016-10-16 17:26] eliezerchavez commented on #15
Guys, doing as recommended by @chibisov results in python complaining about 'base_name' attribute being None...

Any Ideas, thanks from a newbie

[2016-10-27 20:58] cmdelatorre commented on #125
I'm no expert, but in the `parents_query_lookups=['campaign']` part I think you must write `parents_query_lookups=['campaigns']` (missing 's' at the end, which is the related_name value in the AdSlot model.
Still, I'm not sure if it's gonna work since it's a ManyToMany with a `through` argument...

[2016-11-10 22:40] bryson opened #168 "Can not reverse() @list_route methods in ViewSet with ExtendedDefaultRouter."
drf-extensions 0.3.1
restframework 3.4.x, 3.5

Standard viewset, no nested routes, reverse for `@list_route` methods does not work:

`NoReverseMatch: Reverse for 'project-drafts' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []`

Switching the router back to `DefaultRouter` immediately gives the proper result:

[code]

[2016-12-06 07:48] auvipy commented on #129
as drf-ext is intend to b used with drf, it is designed to be used with drf Response not django HttpResponse

[2016-12-06 07:48] #129 closed

[2016-12-09 16:23] AndreasBackx commented on #168
The resolved name is `project-drafts-list` most probably, the naming for routes is [documented](http://chibisov.github.io/drf-extensions/docs/#nested-routes).

[2016-12-14 14:55] grudelsud commented on #159
@Soviut this seems a very old thread, but wondering if you checked that cache layer was working when using query strings? either using mixin or decorator, doesn't seem to work for a list response for me

[2016-12-14 15:07] grudelsud opened #169 "cache decorator ignores query string"
hi

I'm using a cache decorator for a list viewset as follows:

    @cache_response()
    def list(self, request, *args, **kwargs):
        queryset = self.filter_queryset(self.get_queryset())
        serializer = self.get_serializer(queryset, many=True)
        return Response(serializer.data)

but the query string parameters seem to be ignored, e.g.

- `/api/values/` 1st invocation caches result

[2016-12-21 20:38] bryson commented on #168
I'm not trying to `reverse` the `list` method, I'm trying to `reverse` an ad-hoc method with a `@list_route` decorator. In DRF, these methods are added to a ViewSet's automatically-generated routes when using the `DefaultRouter`. This is also [documented](http://www.django-rest-framework.org/api-guide/viewsets/#marking-extra-actions-for-routing). In DRF-extensions, these routes are not automatical

[2016-12-29 05:14] harisibrahimkv opened #170 "Nested routes of a ManyToMany relation causes duplicate records to be returned."
Following 3 models:

[code]

My nested routes are as follows:

[code]

[2017-01-07 12:42] pkainz opened #172 "Refactor bulk processing using new decorators"
PR https://github.com/chibisov/drf-extensions/pull/171 introduces a new generic decorator `@precondition_required`. It enables the check for a set of preconditions (i.e. required HTTP headers). If the precondition is not met, a `428 PRECONDITION REQUIRED` exception will be raised, rendered as `rest_framework.exceptions.APIException` to API clients.
Optimistic concurrency control (OCC) has been imp

[2017-01-09 10:36] auvipy opened #173 "0.4.0 release"
@chibisov could you please have a look?

[2017-01-09 14:49] chibisov commented on #173
Give me some time for a review (2 or 3 days)

[2017-01-09 14:59] auvipy commented on #173
ok

[2017-01-11 07:51] chibisov commented on #173
Depends on #171

[2017-01-11 08:01] auvipy commented on #173
yes

[2017-01-11 08:29] chibisov opened #175 "Optimistic concurrency control using ETags (attempt 2)"
I've reverted the merge #171 because I have some questions about it listed below.

Why do we need the yet another mixin classes from the `concurrency/mixins.py`? For example, we could add a new parameter to a `etag` decorator:

[code]

`@precondition_required` is not only about concurrency. As I understood it checks for any header provided in the `precondition_map`. And it's strange to see a map,

[2017-01-11 08:30] chibisov commented on #175
@auvipy, @kevin-brown, @pkainz

[2017-01-11 08:31] chibisov commented on #173
I've reverted the pull and have some questions about it here #175

[2017-01-14 16:38] pkainz commented on #175
Sorry for my late reply.

My first implementation did something similar to this. In the discussion https://github.com/chibisov/drf-extensions/pull/171#issuecomment-270801572, https://github.com/chibisov/drf-extensions/pull/171#issuecomment-270867416 with @auvipy and @kevin-brown, they suggested to move it out of the `@etag` decorator to be more flexible, hence the new set of `concurrency/mixins` t

[2017-01-14 16:57] kevin-brown commented on #175
Note that part of the reason for the large API changes in #171 was because without them, this would be a backwards-incompatible change, and there was concern about doing it. The primary change in the pull request was adding the new new key bits and constructor.

This was one of my [original questions](https://github.com/chibisov/drf-extensions/pull/171#issuecomment-270009515) when I was looking th

[2017-01-17 07:15] chibisov commented on #175
The same status code doesn't mean we have to use the same mechanism for returning it. I think `If-Range` and `If-Match` have a different domain of the application. We can enforce `428` from a different places.

I still think that `@etag(precondition_required=True)` looks much simpler. No need to know yet another decorator, method name mapping, header names, etc...

[2017-01-26 13:42] shanx opened #177 "Correct implementation of ETAGs in drf-extensions"
In reference to the discussion in #7, I would like to open a new ticket based on the discussion started there by @mbox:

@chibisov first of all thank you for the amazing work you guys have done with drf-extensions! Especially I find the implementation done for cache key constructors & bits very elegant!

Even though on the surface it looks like using the cache key constructor and bits logic can be

[2017-02-11 09:54] chibisov commented on #177
That's the case when you need to add some custom key bit like [this](http://chibisov.github.io/drf-extensions/docs/#custom-key-bit)

What about the [ListSqlQueryKeyBit](http://chibisov.github.io/drf-extensions/docs/#listsqlquerykeybit) combined with the bit described above?

I don't like the idea with perfoming the request by the all entities in the database.

Let's do this. I will be glad to revi

[2017-03-05 13:05] beheshtraya opened #178 "Raise 404 when parent of nested object does not exist."
Suppose we have this Schema
/schools/{id}/classes/{id}/students/{id}

if class with id = 3 does not exist in school with id = 2 this URL
/schools/2/classes/3
returns 404 and this is correct

But this URL
/schools/2/classes/3/students
returns an empty list with status code 200 which is obviously wrong.

[2017-03-29 09:04] dsteinberger commented on #173
Hello, do you know when this release will be made, please ?

[2017-03-29 18:18] manasvi-kuliza commented on #169
Hi, I am also stuck in same situation. I have a get API but it is returning cached response even if I pass different value for query parameter. Did you get a solution for this?

[2017-03-30 09:32] manasvi-kuliza commented on #169
I got a solution for this. Please check http://stackoverflow.com/questions/43101423/drf-extension-cache-ignoring-query-parameters/43113799#43113799

[2017-03-31 02:00] Ryanb58 opened #181 "Question: Nested Paging?"
Is there a way to enable paging on nested endpoints via the nested routers?

[2017-04-01 05:52] Ryanb58 commented on #181
NVM, not a DRF-extensions issue, it was a PICNIC issue.

[2017-04-01 05:52] #181 closed

[2017-05-02 06:29] kevinluvian opened #182 "Duplicate router when declaring branching router"
If I have a model Restaurant that have child routers Employee and Menu,
here is the urls.py I made

[code]

however, the generated urls contains multiple restaurants detail route
`
<RegexURLPattern restaurant-detail restaurants/(?P<pk>[^/.]+)/$>
`

currently my solution is to filter out duplicate urls in the generated router.urls, am I doing something wrong here?

[2017-05-04 09:53] shanx commented on #177
Hey man, sorry for getting back to you only now. Our project has moved away from using drf-extensions in favor of using an adapted version of Django's own caching/etag machinery. So I won't be having time to really dive into this. Closing the issue therefore and wishing you all the best!

[2017-05-19 17:24] kowsari opened #185 "How to have multiple nested routes under a parent route"
Hi
I have /api/case which has a /api/case/:caseid/patient route now. I would like add /api/case/:caseid/meeting underneath case, but when I try to do the following I get an error.

router.register(r'case', case.CaseViewSet).\
    register(r'patient', misc.PatientViewSet, base_name='case-patient', parents_query_lookups=['patient_cases']).\
    register(r'meeting', meeting.MeetingViewSet, base_name=

[2017-05-19 17:28] #185 closed

[2017-05-19 17:29] kowsari commented on #185
I realized how to do this from the docs.

[2017-05-29 13:32] chapayevdauren opened #186 "NestedViewSetMixin with OneToOne relationship"
how to show only detail when I have OneToOne relationship, now is showing a list, but in a list, it will be always one object

[2017-05-30 18:05] clintonb opened #187 "Add Support for Django 1.11"
Update Travis/tox to test with Django 1.11. Resolve any compatibility issues.

This would also be a good time to add support for Python 3.6.

[2017-05-31 15:35] trojkat commented on #173
Any progress on this?

[2017-06-21 17:09] smcoll opened #188 "override_settings decorator doesn't re-load APISettings"
While testing, Django's `override_settings` decorator doesn't update `extensions_api_settings` since by that time, it's already been initialized.  `django-rest-swagger` solves that problem by listening to the `setting_changed` signal: https://github.com/marcgibbons/django-rest-swagger/blob/master/rest_framework_swagger/settings.py

[2017-07-03 02:15] quantoid opened #189 "Add nested routes to parent serializer"
If I have a parent resource that has nested resources, I'd like to include the URLs of the nested resource in the parent resource.

For example, if an account can contain a large number of people then I don't want to list all the people in the account (too many), so I create a nested resource for people and want to see that URL in the account records:

    < 200 OK {
        "id": 123,
        "na

[2017-07-06 08:38] ZuSe opened #191 "How to force serve from Database [Cache-Control: no-cache not working]"
Hi guys,

we are using drf-extensions in our project. We are using for some of our Viewsets the ReponseCacheandETAGMixin.

In some special cases we need to allow the client to fetch the newest entry from the database instead of getting the requests served from the cache.

Is there any way to achieve this in a nice way? I have tried to use the Cache-Control header in my requests, but it's ignored a

[2017-08-17 08:50] auvipy commented on #173
I will be adding dj 1.11 support and probably then a new release could occure

[2017-08-18 09:55] auvipy commented on #187
lets see if I can make it by this month

[2017-08-24 15:42] jplock opened #195 "Add support for DRF 3.6.x"
There seems to be issues with the DRF 3.6.4 documentation and the nested router.

[2017-08-24 16:06] auvipy commented on #195
that's a shame. will work on it soon

[2017-08-24 17:05] jplock commented on #195
Thanks @auvipy !

[2017-08-24 17:44] dhm116 commented on #195
Part of the issue seemed to stem from the way DRF stores the paths in a nested `OrderedDict` using https://github.com/encode/django-rest-framework/blob/3.6.4/rest_framework/schemas.py#L111 and https://github.com/encode/django-rest-framework/blob/3.6.4/rest_framework/schemas.py#L341..L347 . I'm not sure if there's really a way for the DRF-extensions to do much to accommodate that type of structure,

[2017-09-06 04:51] krunal10 opened #196 "Nested routers/urls are not filtering"
Hi all,

I can't get the my Router to filter my requests based on the "parents_query_lookup".

Here's my code:

**urls.py:**
[code]

**views.py:**
[code]

**enums.py:**
[code]

**models.py:**
[code]

No matter what I try, something like _"organizations/1/groups"_ returns all of the **Group** models, regardless of **Organization**. Am I missing something? Thanks in advance for the help.

[2017-09-07 01:06] benrevl commented on #188
I believe this is preventing tests of viewsets using `cache_response` from working correctly.

[2017-09-07 01:39] benrevl commented on #151
The solution by @ckcollab here is better than the official documentations solution -- this actually removes the cache entries instead of adding new ones. The solution in the official documentation will eventually fill the cache with redundant previously cached data.

[2017-09-12 02:23] benrevl commented on #177
I agree with the author, the current ETAG implementation is totally broken. The only way for it to not be broken is to override the default key constructor and to construct a key that will change whenever the content changes, which is not mentioned in the documentation.

There is really _no_ reason to use this implementation alongside view caching, despite the documentation alluding to this approa

[2017-10-03 03:41] Egregors commented on #120
I have the same problem. Any progress?

[2017-11-03 04:14] sfdye commented on #106
@chibisov Thank you very much, this saved my day. How can I use this `get_parents_query_dict ` in the Serializer's create method?

[2017-12-15 14:11] mbaragiola opened #200 "[Django 2.0] TypeError: 'bool' object is not callable"
Hello, getting this error with Django 2.0, Python 3.6.3 and `master` branch of `drf-extensions`:

[code]

As you can see, I am using your cache solution with UserKeyBit as one of the bits.

I haven't found any change relevant on the [Django 2.0 release notes](https://docs.djangoproject.com/en/2.0/releases/2.0/), so that's why I'm posting this as an issue instead of a PR with a solution. But I can

[2017-12-23 05:31] auvipy commented on #151
could anyone care to send a pr with improved example?

[2018-01-03 08:56] David-OConnor commented on #200
Per that page: "Using User.is_authenticated() and User.is_anonymous() as methods rather than properties is no longer supported."

[2018-01-03 09:20] auvipy commented on #200
yes plz send a pr if possible

[2018-01-05 10:06] JoelGoh92 opened #202 "Latest package of drf-extensions?"
I noticed that there were some code changes, such as the updates to the etags mixins,  which are not present in the publicly available 0.3.1 drf-extensions package, so I was wondering if the package would be updated soon?

[2018-01-08 08:03] auvipy commented on #202
we should a new release within few months but feel free to use from master

[2018-01-08 08:04] JoelGoh92 commented on #202
@auvipy Noted, thanks! Looking forward to the new release!

[2018-01-08 08:04] #202 closed

[2018-01-11 16:00] barseghyanartur commented on #187
Django 1.11 support has already been added in the code (and in tests). Please, make a new PyPI release.

[2018-01-11 16:30] barseghyanartur commented on #187
@auvipy:

Wow. Any (realistic) ideas/estimates on when would it be implemented?

[2018-01-11 17:46] auvipy commented on #187
contributions are welcome

[2018-01-12 00:46] fdemmer opened #203 "PaginationKeyBit does not consider LimitOffsetPagination and CursorPagination"
[PaginationKeyBit](https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/key_constructor/bits.py#L168) only uses `page_query_param` and `page_query_size_param`.

missing:
- [LimitOffsetPagination](http://www.django-rest-framework.org/api-guide/pagination/#limitoffsetpagination): `limit_query_param` & `offset_query_param`
- [CursorPagination](http://www.django-rest-framew

[2018-01-12 08:19] barseghyanartur commented on #187
@auvipy:

With all the respect, that's not what I was asking about.

[2018-01-12 08:28] clintonb commented on #187
@barseghyanartur what are you asking about? The functionality is mostly present, but the tests are failing. Django 1.11 should not be officially supported until the tests for Django 1.11 pass. @auvipy and @MightySCollins took the time to contribute a significant portion of the effort about four months ago. No one else has picked up where they left off, so the package doesn't officially support Dja

[2018-01-12 08:35] barseghyanartur commented on #187
@clintonb:

My question was very simple and direct. I asked about realistic estimates on when would it be implemented. If there are no plans to upgrade to 1.11 or no clear road-map, better say so.

[2018-01-12 08:36] clintonb commented on #187
Based on the inactivity regarding this issue, there is no defined time for support of Django 1.11.

[2018-01-12 10:46] MightySCollins commented on #187
Yep looking though the tests unfortunately it seems Django changed some of the etag stuff this package relies on. Looking at the test fails I assume this package will not work correctly with caching in Django 1.11 but with the fix in #197 stops just using the etags breaking. Because of this we have been using it in production now Django 2.0 for quite some time but not using drf-extensions to handl

[2018-01-19 11:04] jkeyes opened #205 "is_if_none_match_failed: check for unquoted etag in list of quoted etags."
Hey folks :wave:

I ran into an issue using a local copy of drf-extension, and I was just going to suggest a fix when I found #197 had fixed the issue by [stripping quotes from etags](https://github.com/chibisov/drf-extensions/pull/197/files#diff-41c249e5543e1f86160bbc073af6bfdd):

[code]

I was going to suggest this, which is a little bit easier to read IMO:

[code]

I presume the fix from #197 s

[2018-01-20 14:58] T-101 commented on #200
in dal/views.py, would this be satisfactory?

    def has_add_permission(self, request):
        """Return True if the user has the permission to add a model."""
        try:
            user_is_authenticated = request.user.is_authenticated()
        except TypeError:
            user_is_authenticated = request.user.is_authenticated

        if not user_is_authenticated:
            return False

[2018-01-20 15:40] auvipy commented on #200
yes

[2018-01-20 21:22] T-101 commented on #200
Upstream problem then. I'll see if the latest DAL 3.3.0-rc5 has this issue fixed. If not, I'll PR to there

[2018-01-20 22:32] jkeyes commented on #173
Any news on when a new release will be uploaded to PyPi?

[2018-01-21 06:53] auvipy commented on #200
latest version of django change this

[2018-01-25 04:25] sfdye commented on #173
Any update on this and #175 please? kinda need etag in one of our projects.

[2018-01-31 11:42] tural-esger commented on #200
@David-OConnor you saved my day! Thank you!

[2018-02-14 17:17] programatt commented on #196
@krunal10 I know this is an old issue, but since I just ran into this myself I'll post the answer. You need to define the queryset for `BootGroupViewSet` and `GroupViewSet` to actually filter based on the parent lookup. If you implement `get_queryset(self)` in the viewset and return your filtered objects based on that key (you can use self.kwargs['parent_lookup_<replace_key_from_router>']) to get

[2018-02-26 11:50] lucasdavid opened #206 "runserver causes "No module named 'django.core.urlresolvers'" to be raised"
## Environment Snapshot for Reproduction
[code]

## Problem
Running `python manage.py runserver` causes the following error to be thrown:
[code]

## Work-around

I managed to work around this by navigating to `rest_framework_extensions/routes.py` and replacing
[code]
with
[code]

[2018-02-27 16:29] LukGerman commented on #151
Thanks for nice idea, @ckcollab which cache backend are you using? In my project I tried `PyLibMCCache`, but it doesn't support `delete_pattern`. I'm thinking of switching to `django_redis`.

[2018-02-27 17:14] ckcollab commented on #151
`"BACKEND": "django_redis.cache.RedisCache",` apparently :)

Also, I was using `LocMem` in testing successfully, I believe?

[2018-03-01 00:36] lucasdavid commented on #15
@neokree, your solution for create works nice for me, but it has one problem: `parents_query.keys()` need to be fields in the `Serializer` used. However, the html render automatically generates form fields for all serializer's fields => unnecessary form inputs are created.
Did you manage to find a way to "hide" the lookup fields from the html forms and OPTIONS schemas?

[2018-03-01 01:53] programatt commented on #206
I just noticed that the current master version actually does have this fixed, and it's set to version "0.3.2", but that version has not been published to pypi yet.

[2018-03-01 18:20] lucasdavid commented on #206
Oh, sorry for the confusion. I'll close this.

[2018-03-01 18:20] #206 closed

[2018-03-06 19:35] mmautner opened #207 "master branch build is broken"
As indicated by the travis icon:

https://travis-ci.org/chibisov/drf-extensions

Looks like it broke when @auvipy merged this PR to support Django 1.11: https://github.com/chibisov/drf-extensions/pull/197

https://travis-ci.org/chibisov/drf-extensions/builds

[2018-03-06 19:47] mmautner commented on #207
Perhaps 1.11 should be removed from Tox tests until this issue is addressed? https://github.com/chibisov/drf-extensions/issues/187

[2018-03-08 14:55] auvipy commented on #207
in the mean time review the pr https://github.com/chibisov/drf-extensions/pull/209

[2018-03-08 14:55] #207 closed

[2018-03-08 14:55] auvipy commented on #200
https://github.com/chibisov/drf-extensions/pull/209 more fixes plz review

[2018-03-08 14:55] #200 closed

[2018-03-08 14:56] auvipy commented on #187
https://github.com/chibisov/drf-extensions/pull/209 more fixes. plz review and help to detect the remaining failures

[2018-03-08 14:57] auvipy commented on #195
work in progress https://github.com/chibisov/drf-extensions/pull/209

plz review and check the remaining errors and point the fixes if possible

[2018-03-08 14:57] #195 closed

[2018-03-08 14:58] auvipy commented on #173
https://github.com/chibisov/drf-extensions/pull/209 hopefully after completing this we could roll out a new release

plz review guy

[2018-03-08 23:58] sfdye commented on #173
I guess new release is on the way 👍

[2018-03-09 03:33] auvipy commented on #173
still few tests need to be fixed. check the latest pr and read the travis log to come up with fix suggestion

[2018-03-09 15:25] Honorato commented on #142
I fixed my viewset by doing this:

[code]

I believe this could be done by the mixin.

[2018-03-15 01:13] seegraff commented on #206
I believe that this is still a problem. The code from master located at https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/routers.py still shows as:

[code]

It should be changed to:

[code]

There's a test here that imports it correctly:

https://github.com/chibisov/drf-extensions/blob/master/tests_app/tests/functional/routers/extended_default_router/tests.py

[2018-03-25 03:37] Place1 commented on #142
I've actually gone ahead and implemented this feature in my app like this:
This implementation also throws a 404, if the parent doesn't exist, before running the business logic on the viewset because I try to resolve the parents in `initial()`. One draw back of this approach is that serializers can't implement a `queryset` for the field.

[code]

[2018-04-05 03:31] ding1992 opened #211 "Incompatibility with drf 3.8.1"
Hi folks,

Noticed that DRF 3.8.0 has removed `replace_methodname` function in `routers.py` [#5705](https://github.com/encode/django-rest-framework/pull/5705), which is referenced in `drf-extensions` routers.
Really appreciate if this can be fixed soon.
Thanks!

[2018-04-05 03:45] sfdye commented on #211
I am facing this too

[2018-04-05 11:38] dennypenta commented on #211
It also has effect with Django 2.0
To reproduce:

`from rest_framework_extensions.routers import NestedRouterMixin`

So you will get:

` No module named 'django.core.urlresolvers'`

[2018-04-05 12:16] auvipy commented on #211
what does master branch says? with 3.8.1?

[2018-04-05 12:27] blokfyuh opened #212 "ImportError: cannot import name 'replace_methodname'"
There is a good chance that DRF removed this method from its new release 3.8.1. It was working until version 3.7.7.

If you don't have time to tackle this issue, I could create a PR. Let me know.

Thanks and have a good one.

[2018-04-05 12:31] auvipy commented on #212
plz send a PR and check other failing tests too. I will review soon

[2018-04-05 12:32] auvipy commented on #212
send a PR and ping me https://github.com/chibisov/drf-extensions/issues/211 here, closing it as duplicate

[2018-04-05 12:32] #212 closed

[2018-04-11 11:29] FilipVavera opened #213 "README confusion"
I just have suggestion to create branch `develop` or `next` where the changes will be made and merge it to `master` branch only on release to pypi.
Now it creates confusion because in your README is:

But it is not true for the latest release 0.3.1 which I can get from `pip install drf-extensions`. I have to do instead `pip install 'git+https://github.com/chibisov/drf-extensions.git@master#egg=drf

[2018-04-12 19:52] rpkilby commented on #211
Hi all, I've submitted #214 which should fix compatibility with the latest version of DRF. If you could try out the branch and report any router-related errors, that would be helpful. Thanks!

[2018-04-12 22:45] rpkilby commented on #168
This would be fixed by #214. Dynamic list routes would be consistent with DRF and drop the `-list` suffix.

[2018-04-13 01:41] sfdye commented on #211
@rpkilby Thanks very much for this, but the test is failing.

[2018-04-13 01:49] sfdye commented on #211
@rpkilby Never mind, I just saw #215 great effort!

[2018-04-13 03:10] #211 closed

[2018-04-13 04:13] anshengme opened #216 "Django 2.0 ModuleNotFoundError: No module named 'django.core.urlresolvers'"
[code]

- django==2.0.3
- djangorestframework==3.7.7
- drf-extensions==0.3.1

[2018-04-13 04:38] auvipy commented on #216
try from master, master support django2 and drf 3.8

[2018-04-13 04:38] #216 closed

[2018-04-14 03:44] #187 closed

[2018-04-14 19:06] rpkilby opened #217 "Update etag docs"
Per #215, the etag functionality has been temporarily removed. The docs and changelog should make it clear to users that the functionality is pending an overhaul and should reference the discussion in #177.

[2018-04-20 17:33] auvipy commented on #173
3.2 is 4.0 actually :D 30 april is the deadline

[2018-04-23 12:30] FilipVavera commented on #213
It still does not address Django 2.0 issue I described.

[2018-04-30 22:56] dtougas commented on #173
Is this release still happening today? I am hoping so, as I am running into a Django 2.0 issue that I hope will be resolved with this release...

[2018-05-01 05:44] auvipy commented on #173
ww have to revert one change and update some changelog,. in the mean time please

[2018-05-02 14:15] linuxlewis commented on #173
Anything we can do here to make this release happen? Happy to pitch in

[2018-05-03 07:10] auvipy commented on #173
yes plz, revert this commit https://github.com/chibisov/drf-extensions/commit/ed0f4151fb6b0f2998081b42143e8037f1f5732d and put them as before, but ignore from tests so that travis is green, and mention in docs that the implementation has design issues so use with your own risk. and lastly update the changelog for other issues changed since last release.

[2018-05-04 15:55] juanpaps03 opened #218 "Pypi version not working with Django 1.10"
This is a bug on version 0.3.1, the file rest_framework/routers.py is importing patterns from django urls, this function is not in Django 1.10.

The doc says that support django 1.10

[2018-05-04 16:13] auvipy commented on #218
master is django 1.11 now, and django 1.10 is end of life

[2018-05-04 16:13] #218 closed

[2018-05-04 16:46] juanpaps03 commented on #218
Okay, I already installed from master, I think important to update the pypi version.

Thanks

[2018-05-05 13:51] scripterkaran opened #219 "Update pip package, missing version 0.4.0"
I need to install version drf-extensions 0.4.0

But there is no repository for that in pip packages. Please fix this.

I even tried "pip install drf-extensions==0.4.0"

[2018-05-06 07:43] auvipy commented on #219
you should try install from github master. closing as duplicate https://github.com/chibisov/drf-extensions/issues/173

[2018-05-06 07:43] #219 closed

[2018-05-14 03:57] ramsrib opened #220 "urlresolvers broken in Django 2"
Django 2.0 removed the `django.core.urlresolvers` module, which was moved to `django.urls` in version `1.10`. The `ExtendedDefaultRouter` still uses the old module and it's broken with latest Django release.

Please fix the `ExtendedDefaultRouter`.

[2018-05-14 17:31] ramsrib commented on #173
Any rough timeline for this new release (seems like it's pending for couple of months)? Since the existing release (`0.3.1`) doesn't support `Django 2`,  It would be nice, if you guys release a new version just to support `Django 2`. Thanks

[2018-05-14 17:33] ramsrib commented on #178
I guess this issue was fixed, but let me confirm once.

[2018-05-16 08:28] auvipy commented on #178
please check the commits and confirm

[2018-05-16 17:03] Calion54 commented on #220
Hi,

Actually, the installation with pip isn't with the latest version

[2018-05-18 13:33] inspirassion opened #221 "include CustomObjectKeyConstructor CustomListKeyConstructor and change_api_updated_at in the library"
[code]

This logic must be directly included in the framework not just as exemple in documentation, It's perfect and ready to be uses.

[2018-05-18 13:43] inspirassion opened #222 "How to invalidate only converned cache keys ?"
Example in the doc invalidates all cache after any update. Is theire a way to invalidate only concerned objects ?

[2018-05-18 13:59] inspirassion opened #223 "When to use CustomObjectKeyConstructor or CustomListKeyConstructor ?"
When we inherit from APIView

[2018-06-03 17:34] Calion54 opened #224 "urlresolvers Django 2 - pip"
Hi,

Why is the installation of the library with pip not at the same level as the master?
it's annoying for a production.

Best regards,

[2018-06-14 17:23] thesunlover opened #225 "[windows] [tests]: No module named 'settings'"
python version 3.6

[code]

[2018-06-18 20:40] jberends opened #226 "version 0.3.1 is not compatible with DRF 3.8 and produces ImportError"
The version 0.3.1 is not compatible with DRF 3.8. It seems that the master is, but the latest provided release to PyPI apparently not.

It produces an import error in the 0.3.1 code

Error:
[code]

Culprit code of 0.3.1
[code]

[2018-06-19 12:13] thesunlover opened #227 "Please tag the 0.4.0 release so that we can use it in requirements.txt"
There is no working release for python 3.5+ For Django 2.0+.
Would you please tag the current master as a new version as it is title in the "pip list" with the version 0.4.0
Thanks in advance

[2018-06-19 21:29] travis-cramer commented on #226
I've run into the same error. Running drf 3.8.2

[2018-07-12 06:17] auvipy commented on #226
you need to install from master master support 3.8

[2018-07-12 16:16] TheSaltman commented on #226
It still would be nice to get this in pypy.

[2018-07-13 09:10] jberends commented on #226
yup. Why not package it and release it as a proper release?

--
Jochem Berends

jberends@jbits.nl
The Hague

On 12 July 2018 at 18:16, Sultan Gillani <notifications@github.com> wrote:

[2018-07-13 19:53] john-cai commented on #206
When can the latest version of this be pushed to pypi?

[2018-07-14 17:11] auvipy commented on #206
hope before the end of the month, actually have to contribute to multiple project so time is so scarce

[2018-07-15 07:43] auvipy commented on #226
lack of time

[2018-07-16 14:38] jberends commented on #226
Is there anything that we can help you with?
Maybe automate the build and upload of packages eg. using `twine`

I can make a PR...

[code]

[2018-07-16 15:15] auvipy commented on #226
need to revert one commit and some release notes remain actually

[2018-07-19 09:19] jberends commented on #227
dupe of #226

[2018-07-19 12:56] thesunlover commented on #227
for those of you who are waiting for the pip install:
add this one (it does the work for me):

git+http://github.com/chibisov/drf-extensions.git@00712396be979aaa5a86246bee39284b5e5e8d71#egg=drf-extensions

[2018-07-23 11:19] #227 closed

[2018-08-01 20:57] bryson commented on #226
Can you add instructions for installing from git to the README at least?

[2018-08-02 05:49] tOlorun commented on #84
Does this code still work?

[2018-08-03 22:39] JesusAnaya commented on #173
I had to use the develop version for can upgrade one project to Django 2, please think in release soon an official version for support Django 2, thank you.

[2018-08-03 22:41] ramsrib commented on #173
I switched to `drf-nested-routers` since this releasing doesn't seems to be happening in near future.

[2018-08-12 13:52] zulrang commented on #224
Maintainer claims they don't have time to push to PyPI: https://github.com/chibisov/drf-extensions/issues/206

[2018-08-12 14:17] auvipy commented on #226
I will

[2018-08-27 17:06] camflan commented on #224
@auvipy I understand you're busy, hoping to keep this active though. Installing off master is not great

[2018-08-29 05:55] auvipy commented on #224
I got the response. he was busy, he will release after I add release notes. so very soon for a pypi release hopefully

[2018-09-06 04:31] saadullahaleem commented on #196
Why should `self.kwargs['parent_lookup_<replace_key_from_router>']` be used when `NestedViewSetMixin` has code to alter the `queryset`? I don't think using the key and filtering the data yourself in your `ViewSet` is how this feature should be used.

[2018-09-06 07:36] saadullahaleem commented on #196
This is how I got the filtering to work:

[code]
This is essentially what the `get_queryset` method in `NestedViewSetMixin` does.

Also, I don't understand why the `get_queryset` method in `NestedViewSetMixin` calls `super().get_queryset`. It isn't extending any class.

[2018-09-06 14:29] adrienrusso commented on #226
Same issue here, Still waiting for a new version.

[2018-09-06 17:47] auvipy commented on #226
i have emailed the original author for a new pypi release.

[2018-09-10 18:13] kingofhills opened #232 "django.core.urlresolvers this is no longer there in Django2.0.0 onwards"
Modify the routers.py to not use django.core.urlresolvers and replace_methodname anymore

[2018-09-11 19:49] adrienrusso commented on #226
0.4.0 has been released 15 hours ago. Thanks

[2018-09-12 12:44] auvipy commented on #226
please let me know if the pypi release is working well. it's my first release of this package

[2018-09-12 12:47] #226 closed

[2018-09-12 12:48] auvipy commented on #225
could you try the latest release?

[2018-09-12 13:53] adrienrusso commented on #226
I have no issue so far. It passes all our checks.

[2018-09-12 14:03] asanger commented on #125
2 years later, is there a proper way to perform a nested route that returns the results of a manytomany relationship?

[2018-09-12 16:28] auvipy commented on #226
awesome!

[2018-09-12 18:06] auvipy commented on #125
could you try 0.4.0 version?

[2018-09-17 03:50] #224 closed

[2018-09-17 03:51] auvipy commented on #173
it's released. going to drop python 2 support for next release.

[2018-09-17 03:51] #173 closed

[2018-09-17 03:54] auvipy opened #235 "Drop Python 2 support"

[2018-09-17 04:00] #23 closed

[2018-09-17 04:00] #31 closed

[2018-09-17 04:01] #53 closed

[2018-09-17 04:02] #145 closed

[2018-09-18 14:04] mbaragiola opened #237 "HttpResponse has no 'data' on 0.4.0"
Hey guys, just tried updating to 0.4.0 and it broke all my tests.

Whenever I do a GET to a filtered cached list, I run the following test to check wether the amount of objects returned is ok:

[code]

But now I get the following error:

`AttributeError: 'HttpResponse' object has no attribute 'data'`

Django is 1.11.15, DRF is 3.8.2 and Python is 3.6 (haven't changed their versions, just `drf-exte

[2018-09-18 15:58] auvipy commented on #237
@codingjoe could you check as you made the change?

[2018-09-18 20:09] codingjoe commented on #237
Hi @mbaragiola that looks like it is related to the caching change it did here:
https://github.com/chibisov/drf-extensions/commit/bdce9e0f4b2112097c5371786da5dac85e861066

I would recommend to disable caching in your test environment. If you want to test the cached behavior, need to be aware the the cached response is a regular Django `HttpResponse` not the special DRF one.

[2018-09-18 20:10] codingjoe commented on #237
Maybe that should be documented somewhere... but I don't know which place would fit this kind of specialized note.

[2018-09-19 04:40] auvipy commented on #237
you can add a BC breaking note on release note of 0.4.0

[2018-09-19 12:45] mbaragiola commented on #237
@auvipy @codingjoe thanks for replying!

I'm curious, what's the reason behind this change? Since this is an extension to DRF and not Django itself.

Testing cache is critical to me, so I'm trying to find a workaround but I can't so far access serialized data on HttpResponse.

[2018-09-19 15:10] auvipy commented on #237
@codingjoe I also think since it's an extension of drf, we should be able to do so, since its a breaking change, I think if there isn't any workaround for it, we should revert the change. do you have any drfish solution in mind?

[2018-09-24 13:29] codingjoe commented on #237
Sorry I need to call for a bit more caution here. Some like – my company included – may already use the improved cache feature. If you revert it now, that could be considered a breaking change as well ;)

@mbaragiola to give you a bit more context. Caching a DRF response as is pickling the whole object is not a good idea. The DRF response object is too large and can even include whole Querysets.
T

[2018-09-24 18:55] mbaragiola commented on #237
If that's truly the case, then I agree @codingjoe

[2018-09-25 12:30] codingjoe commented on #237
@auvipy sure thing! I am working on a patch right now.
Question to @mbaragiola I could add a setting that disables the cache behavior. This could be used in a test suite. Would that help?

[2018-09-25 12:52] codingjoe commented on #237
sure thing, see https://github.com/chibisov/drf-extensions/pull/240

[2018-09-25 13:02] mbaragiola commented on #237
It totally would. Thanks for your work @codingjoe !

[2018-10-06 17:02] #237 closed

[2018-10-25 14:30] hugovk commented on #235
This can be closed now #238 and #239 have been merged.

[2018-10-25 15:28] #235 closed

[2018-11-08 12:02] thesunlover commented on #225
sorry for late response:
here is what I got when I try to recreate the tox env

django.2.0 runtests: commands[0] | 'D:\drf-extensions-master\.tox\django.2.0\Scripts/django-admin.py' test --settings=settings tests_app
Traceback (most recent call last):
  File "D:\drf-extensions-master\.tox\django.2.0\Scripts/django-admin.py", line 5, in <module>
    management.execute_from_command_line()
  File "D:

[2018-11-08 12:07] thesunlover commented on #225
probably tox cannot find the path to the settings.py I suppose...

[2018-11-28 10:56] SerhiyRomanov commented on #222
It's because all cache keys is result of md5 functions. For one project purposes, I am working on way to form key as raw string and using Redis 'delete_many'.
For example, my version will generate cache keys like `json:en:main.models.Country`, `json:de:main.models.Country` and then you will be able to delete all results for lang `en`, for instance.

Would it be interested for community?

[2018-11-28 16:00] SerhiyRomanov commented on #222
See my commit https://github.com/SerhiyRomanov/drf-extensions/commit/c8b787a83de8dfdf76d92a10357d7fce6ff877e0

[2018-12-09 04:48] #222 closed

[2018-12-13 04:39] sakhunzai commented on #205
I agree with your suggestion to fix  [is_if_match_failed](https://github.com/chibisov/drf-extensions/blob/master/rest_framework_extensions/etag/decorators.py#L125). I spent hours having "Precondition Failed" on a `PUT` request. This means both functions require striped etags therefore, they should be done out side both functions, probably before calling both functions or `parse_etags` function sho

[2018-12-13 05:07] sakhunzai commented on #205
I also see another issue with line:
` etags = [etag.strip('"') for etag in etags]`

if we have weak etag its not striped properly and matching will fail e.g

[code]

[2018-12-13 05:43] sakhunzai commented on #205
I am not sure what will be consequences given 1.11 [documentation](https://docs.djangoproject.com/en/1.11/topics/conditional-view-processing/#the-condition-decorator) read as:

[2019-01-10 20:47] yusif-a opened #249 "Custom HyperlinkedIdentityField for HyperlinkedModelSerializer"
Hi,
I had difficulty with a HyperlinkedModelSerializer url for a nested viewset, and the best solution I found was this piece of code:
https://github.com/miki725/formslayer/blob/master/formslayer/pdf/relations.py#L7-L46

I would like to know if there is a solution within the library I have missed. If not, addition of a similar class would be nice.

Thanks.

[2019-01-17 01:32] ivoscc opened #250 "cache_response should cache content rather than rendered_content"
Hi, we ran into an issue while using the `cache_response` decorator.

Specifically we ran into an issue with a view using a `gzip` decorator and `cache_response` one:

[code]

Our gzip decorator does something similar to what django's gzip_page decorator does.

[code]

[2019-01-17 15:52] tspecht commented on #250
+1!

[2019-03-12 19:28] #138 closed

[2019-04-23 14:09] hsmett opened #254 "Release"
Hello dear maintainers,

First of all, thank you for your work!

There have been a lot of changes since the 0.4.0:
https://github.com/chibisov/drf-extensions/compare/0.4.0...master

I'd like to know if you could plan a new release, introducing django 2.1 & 2.2 and DRF 3.9 support.

Thank you in advance.

[2019-04-23 14:19] auvipy commented on #254
I will try to release ASAP

[2019-05-10 05:09] auvipy commented on #254
git tagged and pushed to pypi! enjoy

[2019-05-10 05:09] #254 closed

[2019-05-10 05:12] auvipy commented on #254
please donate https://opencollective.com/drf-extensions#backer

[2019-05-10 05:13] auvipy opened #255 "Donate for this project"
Please become a baker or sponsor

https://opencollective.com/drf-extensions#backer

[2019-05-11 05:54] auvipy opened #256 "Improved Admin Interface For browsable API"

[2019-05-11 05:59] auvipy opened #257 "Incorporate changes from generic relations"
https://github.com/encode/django-rest-framework/pull/755

[2019-05-12 15:21] derek-adair commented on #142
OOOOF! This is a massive security issue and should be addressed.  This issue is enough reason to not use this feature, which happens to be why I would use this project.  It's bad enough that I will not include this at all for any of the other benefits.

Workarounds are nice and all, but how about a fix on this?

[2019-05-15 12:07] kwasielew opened #258 "Nested routes are not generated in API documentation"
Hello,

I'm using Django Rest Framework for creating API and wanted to use `drf-extensions` for nested routes functionality and it was fine.
But there is one issue that nested routes are not documented by `include_docs_urls`.
Is there something that I missed or it simply is not compatible with nested routes?
Thanks for answers

djangorestframework==3.9.0
drf-extensions==0.5.0
Python2.7

[2019-05-15 19:20] auvipy commented on #258
0.5.0 do not support python 2.7 or 3.4

[2019-05-15 19:20] #258 closed

[2019-06-20 19:34] bbaker6225 opened #259 "CacheResponseMixin with compression"
Hello,
Is there a nice, built-in way to compress things when using the `CacheResponseMixin`? I couldn't find anything in the docs

[2019-07-15 12:09] #259 closed

[2019-07-31 14:49] SerhiyRomanov commented on #126
Any progress with this?

[2019-07-31 18:44] auvipy commented on #126
when time permits! thanks for the ping!

[2019-07-31 18:47] #168 closed

[2019-07-31 20:27] SerhiyRomanov commented on #250
Hi! Is any problems if use @gzip_page from Django? Why do you use custom gzip-decorator?

That were worked for you with 0.3.1 because it cached whole Response object  rather than only content and headers.

IMO, it better to enable gzip compression on nginx or Apache etc.

[2019-08-11 22:05] on0n commented on #17
It's been a few years, is this still an active project?

[2019-08-13 06:40] chugunovyar commented on #200
from django.contrib.auth.mixins import LoginRequiredMixin

help me

[2019-08-15 06:30] auvipy commented on #17
yes, it is. check the commit history

[2019-08-17 09:35] #217 closed

[2019-08-19 08:36] aeasringnar opened #263 "I found a mistake in using redis as backend"
When I use redis as the backend of the cache, I use cache_response, but there is an error: STACK_GLOBAL requires str.

[2019-08-19 10:44] auvipy commented on #263
is drf-ex issue or django-redis?

[2019-08-20 13:18] SerhiyRomanov commented on #263
@aeasringnar  Please provide more info, like versions of libraries you use and example of code to reproduce it. I guess, it's problem in your code or outdated django-redis.

[2019-08-28 12:14] josh-stableprice opened #264 "CacheResponseAndETAGMixin is missing"
It's listed in the documentation, however is not available to import

[2019-09-24 14:35] Misairu-G commented on #142
The other thing is, users that don't have permission on the parent, can still access child (by default).

[2019-09-25 13:45] Misairu-G commented on #142
[code]

Improved solution based on @Place1 's, work under Python 3.7 with Django 2.2 and DRF 3.10.

The line `field, lookup = key.split('__', 1)` is deleted as would cause error if no slug is given, since I currently only use primary key for index, it fits my minimal requirement.

Feel free to use it and add your own modification.

At the end, I don't feel like nested router is a good idea, nested

[2019-09-26 15:25] derek-adair commented on #142
What do you mean nested viewset?

Meaning just manually coded routes?

[2019-09-26 15:28] Misairu-G commented on #142
@derek-adair Means once the parent ViewSet is being registered in the router, all its child ViewSet would be automatically registered. Similar case is the `action` decorator of rest framework.

[2019-09-26 15:33] derek-adair commented on #142
Anyone got a link to an example?  I'm assuming that it's outside of this project as I dont see any references to nested viewsets here.

[2019-10-28 10:20] gcbirzan opened #267 "CacheResponse assumes a pickle serializer is used, breaking on any other serializers"
As per the WSGI spec, headers must be a list of tuples. If you use a serialization format that doesn't support tuples (i.e. any that's not pickle), headers will end up being a list of lists. This then breaks if you try to use % to format the values.

https://github.com/chibisov/drf-extensions/blob/437926b91989e402ef0824c15d54f09d989d2f1a/rest_framework_extensions/cache/decorators.py#L99

This is t

[2019-10-28 11:14] auvipy commented on #267
PR is welcome :)

[2019-10-28 12:32] #267 closed

[2019-10-29 04:23] #203 closed

[2019-10-30 20:20] metawake opened #269 "NestedRouter doesn't support detail_url"
Using ExtendedDefaultRouter as router and NestedViewSetMixin in top level ViewSet,
it's not possible to have a viewset custom method with detail_route or list_route, both would give:
TypeError: ReportViewSet() received an invalid keyword 'url_name'
Is it a bug or there is an official workaround?

[2019-11-06 11:50] #58 closed

[2019-11-06 11:53] #59 closed

[2019-11-06 12:06] #225 closed

[2019-11-06 12:10] auvipy commented on #159
I want to know the current situation of this

[2019-11-06 12:14] auvipy commented on #172
Hi, still interested n this?

[2019-11-06 12:15] auvipy commented on #170
whats the current status of this?

[2019-11-06 12:18] auvipy commented on #175
I am going to reassess all the open issues with django 2.2 and drf 3.11. will be looking for inputs from all. I will like you to help me design and review the implementation

[2019-11-07 17:33] auvipy opened #271 "Incorporate DRY REST permission"

[2019-11-07 17:49] auvipy opened #272 "Dynamic REST in to core"

[2019-11-21 17:21] auvipy opened #273 "django 3.0"

[2019-11-21 17:21] auvipy opened #274 "DRF 3.11"

[2019-12-06 09:33] #273 closed

[2019-12-12 05:49] ruslankrivoshein opened #277 "Old version from pip install"
When I install it via `pip install drf-extensions`, I get the version of code from before [this](https://github.com/chibisov/drf-extensions/commit/1d28a4b28890eab5cd19e93e042f8590c8c2fb8b#diff-65da42d61ad1e3b53131efd606a7d2b8) commit. I mean the code has dependency from django's six package.

[2019-12-12 05:56] ruslankrivoshein commented on #277
pip 19.3.1
virtualenv 16.7.8
drf-extensions 0.5.0

And when I install it directly from GitHub `pip install git+git://github.com/chibisov/drf-extensions`, it is delivered nice.

[2019-12-13 11:02] dyve opened #278 "Documentation says base_name, should probably be base_name"
Documentation: http://chibisov.github.io/drf-extensions/docs/#nested-routes

[code]

Parameter `base_name` is not accepted, but looking at the source, `basename` is.

I cannot find a changelog for this change, please clarify and update documentation.

[2019-12-13 13:14] auvipy commented on #278
you are right

[2019-12-17 13:56] OskarPersson commented on #225
I'm getting the same error on my Windows machine. To solve this specific error you have to update `setenv` with the following entry:

[code]

See the documentation for `{:}` here: https://tox.readthedocs.io/en/latest/config.html#globally-available-substitutions

Though after this change I'm getting another error instead:
[code]

[2019-12-17 13:57] OskarPersson commented on #274
I should've referenced this in #279 which fixes this

[2019-12-17 14:36] #274 closed

[2019-12-18 09:33] OskarPersson commented on #225
By using the built-in test runner (remove `TEST_RUNNER` from tests_app/settings.py) you get even further:

[code]

Not sure what the actual problem is here :/

[2019-12-19 11:19] eeezae commented on #277
same

[2019-12-28 00:44] SulanthaM opened #280 "Import error - Django 3.0.1 - ImportError: cannot import name 'available_attrs' from 'django.utils.decorators'"
Hi, I am using drf-extensions 0.5.0 with Django 3.0.1 and Python 3.7.
However, when I try to use the package, I get this error. I believe this has something to do with compatibility if Django 3.0.

Is this an easy fix?

[code]

[2019-12-28 00:47] SulanthaM commented on #280
I believe that this is due to the fact the pypi repo is not properly updated. The tar and whl files still contain the bugs fixed in #276

[2020-01-10 13:48] ruslankrivoshein commented on #277
Please, get in live...

[2020-01-17 10:45] germainBelacel commented on #280
Any Idea, when the pypi repo will be update with a new release?

[2020-01-17 14:40] auvipy commented on #280
will push a new pypi release soon

[2020-01-20 15:32] OskarPersson commented on #280
@auvipy Any issue you see as a must to be fixed before release?

[2020-01-22 13:44] edenmarcowizer opened #281 "Import error - Python 3.8: cannot import name 'six' from 'django.utils'"
Hi, I am using:

-  drf-extensions 0.5.0
-  Django 3.0
-  djangorestframework 3.10.13
-  Python 3.8

However, when I try to use the package, I get this error:
`  File "/home/eden/project/venv3/lib/python3.8/site-packages/rest_framework_extensions/compat.py", line 7, in <module>
    from django.utils import six
ImportError: cannot import name 'six' from 'django.utils' (/home/eden/project/venv3/lib/

[2020-01-23 22:49] OskarPersson commented on #281
Django 3 is not supported until a new release with #276 is created. However, looking at the whl from PyPi for 0.5.0 it seems like it isn't based on the 0.5.0 tag. It doesn't even match the source on PyPi. See mixins.py for example, it includes `from django.utils import six` which is deleted here: https://github.com/chibisov/drf-extensions/blob/0.5.0/rest_framework_extensions/mixins.py

@auvipy can

[2020-01-23 22:49] OskarPersson commented on #281
I think this might be a duplicate of https://github.com/chibisov/drf-extensions/issues/277

[2020-01-24 07:21] ruslankrivoshein commented on #281
It is

[2020-01-24 21:33] DawsonLey opened #284 "cannot import name 'ListDestroyModelMixin' from 'rest_framework_extensions.mixins'"
```ImportError: cannot import name 'ListDestroyModelMixin' from 'rest_framework_extensions.mixins' ```

Solved by changing ```from rest_framework_extensions.bulk_operations.mixins import ListUpdateModelMixin```

to

```from rest_framework_extensions.bulk_operations.mixins import ListUpdateModelMixin, ListDestroyModelMixin```

in ```rest_framework_extensions/mixins.py``` file

[2020-01-25 09:55] OskarPersson commented on #284
Fixed in #260

[2020-01-26 07:02] #284 closed

[2020-01-26 07:19] auvipy commented on #280
check your email

[2020-02-13 19:10] DawsonLey opened #287 "Bulk update always updates all records regardless of query string"
No matter the query string passed, bulk update is always affecting all records. Followed the docs exactly, not sure what I'm missing

[2020-04-03 14:31] stuartc commented on #106
Ah man, I wish this was documented. I just spent the better part of 4 hours trying to work out why my records weren't being associated. Thanks for the tip!

[2020-04-17 16:53] shuternay commented on #278
It seems that the documentation page hasn't been updated since 2016: https://github.com/chibisov/drf-extensions/commits/gh-pages
In the source file it is `basename`: https://github.com/chibisov/drf-extensions/blob/master/docs/index.md

[2020-06-04 11:17] Matt-Deacalion commented on #17
I would like to start work on a pull request for this. Is anybody currently working on it?

[2020-06-19 14:51] tuky opened #291 "PartialUpdateSerializerMixin does not support nested fields of the same model"
Assume a model `Author` with fields

[code]

then assume this "nested" model serializer combination

[code]

for this it becomes impossible to `PATCH` the `name` field, because `get_fields_for_partial_update` does not correctly determine the model fields. This should be possible, because without the `PartialUpdateSerializerMixin` the `name` can be `PATCH`ed. The use case here is to group/structure

[2020-06-19 18:44] tuky commented on #291
this is the recursive approach we're currently monkey patching to make things work:

[code]

would this work for you in a PR?

[2020-06-20 13:06] auvipy commented on #291
sure. but add unit and functional tests for that as well.

[2020-06-24 09:34] #291 closed

[2020-08-04 08:53] henriklindgren opened #294 "EmptyResultSet removed in Django 3.1"
Version:
drf-extensions 0.6.0
Django 3.1
(python 3.8, but doesn't matter for issue)

Description:
Django has removed EmptyResultSet backward compatibility.
django 3.1 commit breaking drf-extensions:
https://github.com/django/django/commit/129583a0d3cf69b08d058cd751d777588801b7ad

Error:
`from rest_framework_extensions.key_constructor import bits
  File "/usr/local/lib/python3.8/site-packages/rest_

[2020-08-04 10:44] ticosax commented on #294
Fixed in https://github.com/chibisov/drf-extensions/commit/8001a440c7322be26bbe2d16f3a334a8b0b5860b

[2020-08-04 15:10] nikbora commented on #294
With Django 3.1 it might be worth releasing a new version with the fix to enable us to upgrade? (I assume this is the only issue so far)

[2020-08-05 21:25] rosscdh commented on #294
+1 for new release

[2020-08-12 11:11] cchacholiades commented on #294
I am having trouble importing the ExtendedSimpleRouter() due to this issue. I am using drf-extensions==0.6.0.

[2020-08-17 07:12] auvipy opened #296 "Incoporate codes from drf-recursive"
https://github.com/heywbj/django-rest-framework-recursive/issues/30

[2020-08-20 15:39] brianhelba commented on #294
@auvipy Now that #290 is merged and Django 3.1 tests in #295 are passing, it seems like this issue is resolved. Can we please get a release of `drf-extensions`, for the benefit of all downstream users?

[2020-08-20 15:44] brianhelba commented on #280
@auvipy Can this issue be closed?

[2020-08-20 15:56] SulanthaM commented on #280
Yes. I think this is resolved in the updated version.

From: Brian Helba <notifications@github.com>
Sent: August 20, 2020 8:45 AM
To: chibisov/drf-extensions <drf-extensions@noreply.github.com>
Cc: Sulantha Sanjeewa <sulantha@enigmabiomedicalgroup.com>; Author <author@noreply.github.com>
Subject: Re: [chibisov/drf-extensions] Import error - Django 3.0.1 - ImportError: cannot import name 'available

[2020-08-21 04:01] #280 closed

[2020-08-21 04:01] auvipy commented on #280
thanks

[2020-08-30 17:56] TurnrDev opened #297 "cannot import name 'EmptyResultSet' from 'django.db.models.sql.datastructures'"
I'm getting an import error from your module: `cannot import name 'EmptyResultSet' from 'django.db.models.sql.datastructures'`

[code]
This is my python modules:
[code]
I think this might be due to upgrading to Django 3.1?

[2020-08-30 17:57] TurnrDev commented on #297
Closing as dupe of #294

[2020-08-30 17:57] #297 closed

[2020-08-30 18:01] TurnrDev commented on #294
`pip install -U git+git://github.com/chibisov/drf-extensions.git@8001a440c7322be26bbe2d16f3a334a8b0b5860b` < This solved my issue but it's not a great long term solution

[2020-09-02 22:03] brianhelba commented on #294
@auvipy Ping again on a new release, please. This package is currently broken on Django 3.1, but a release should resolve it.

[2020-09-07 11:43] Ouradze commented on #294
Hi, sorry for the noise but a new release would be much appreciated :) thanks in advance to you guys !

[2020-09-11 16:22] TurnrDev commented on #294
I don't think we're getting the update pushed guys.

[2020-09-12 08:31] auvipy commented on #294
in the mean time use pip to install from github master

[2020-09-18 05:53] jamiegau opened #298 "import etag causes ImportError on bits.py import EmptyReultSet"
I upgraded to django 3.1.1
And I now have the following error with `drf-extentions`...

I am using the etags mixin..  so
`from rest_framework_extensions.etag.decorators import etag`
This import then causes a exception in drf-extensions in '`bits.py`'
when it tried to import `EmptyResultSet`

[code]

Can I please have some feedback on the best way to get around this while its addressed?

Thanks.

[2020-09-21 16:18] cwirz commented on #298
https://github.com/chibisov/drf-extensions/issues/294

[2020-09-21 22:17] stevanmilic commented on #294
@auvipy why are we waiting for new release? It's normal to update the package to work with latest version of django

[2020-09-22 00:47] jamiegau commented on #294
Yes, come on guys.  This has been languishing for weeks.  Issues have been addressed/fixed, just needs to be released.  What's the hold up?
It's a reasonable important piece of many projects that are now forced to hold at 3.0.8.  Pulling from upstream is messy and would need revisiting.  Would prefer to fix this once.

[2020-09-22 09:00] ticosax commented on #294
@auvipy  is doing volunteering work. He's not entitled to do anything for us.
It exists a viable alternative to the lack of release, (installing from master branch), if you don't want to use this solution, that's your decision, but it shouldn't be used as a mean to harass the maintainers of the project.

Thank you @auvipy for maintaining this project, and take the rest you need when you need it.

[2020-09-22 15:09] jamiegau commented on #294
@ticosax I find it strange that the fix is done and tested. but the final stage to push it into a release has not occured. if there is a reason for this, I expect the community would understand and be fine with it.  It has been 3 weeks.

[2020-09-22 15:27] ticosax commented on #294
@jamiegau it takes time and energy to make a release. Merging a pull request is much easier than performing a release. Personally, I'm not surprised.
My point is, it is absolutely necessary to respect the pace of the maintainers. Given there is solutions, it is really not worth it, to ask for a release to be made sooner. The message has been sent, no need to insist.

[2020-10-05 22:53] joseph-vedadi commented on #280
I still face the same issue

[code]

[2020-10-06 16:08] tuky commented on #294
haters gonna hate, monkeys gonna patch ;>

[code]

[2020-10-19 10:01] MDziwny commented on #294
Can we help somehow to publish the new version?

[2020-10-22 11:06] TurnrDev commented on #294
I suppose we should create the relevant changelog entries and bump the version number in a commit. Make a PR and then all the maintainer has to do is pull, test, publish :)

[2020-11-05 21:28] ItsCalebJones commented on #294
Throwing a bump on it.

[2020-11-17 11:19] luckygogreen opened #301 "DRF-extensions queryset use select_related,show different sql result"
I try to use DRF-extensions for the caches. but same queryset ,Will produce different sql query time, my code:

...
`
class ....:
     queryset = Users.objects.select_related('location', 'status', 'department', 'position', 'payper')`
...
# # # # # no DRF-extensions# # # # #
`     def list(self, request, *args, **kwargs):`
[https://i.stack.imgur.com/EnTWZ.png](url)

# # # # # DRF-extensions# # # #

[2020-12-09 07:20] thiennlinh commented on #294
where does this code handle?

[2020-12-09 09:13] tuky commented on #294
you typically put monkey patches in a high level module file `__init__.py`, so the code is executed every time you use your app. so e.g. in `app.__init__`.

[2020-12-09 16:46] thiennlinh commented on #294
Tks, I have fixed the above error.

[2020-12-13 18:13] mymtw commented on #294
@auvipy what the problem to release new version?

[2021-01-07 07:26] elonzh opened #302 "UniqueFieldsMixin should not validate field when `required=False`"
Sometimes we have unique fields in Model with `null=True`, UniqueFieldsMixin shouldn't validate these fields when the data is not provided.

Currently KeyError will be raised when unique field value is not provided.

drf_writable_nested.mixins.UniqueFieldsMixin._validate_unique_fields:

[code]

[2021-01-07 07:41] elonzh commented on #302
sorry this is a issue for `drf-writable-nested`

[2021-01-07 07:41] #302 closed

[2021-02-07 00:49] domdinicola commented on #294
is this going to be released at some point?
is the project alive? :)

[2021-02-07 01:55] TurnrDev commented on #294
Probably not

No, but I'm sure the community wouldn't be against a fork. I would be up for being a maintainer of said fork.

[2021-02-07 05:45] afeezaziz commented on #281
Hi I am facing this same problem but I am not sure why.

I check https://github.com/chibisov/drf-extensions/issues/277 and I tried to install directly from github but the same error pops up.

[2021-02-10 14:30] domdinicola commented on #294
anyone maintaining a fork? releasing packages in pypi?

[2021-02-10 15:19] auvipy commented on #294
sorry, lots of open-source backlogs. and new family. will push to pypi tomorrrow

[2021-02-10 15:33] brianhelba commented on #294
@auvipy Thanks!

Are there any current contributors to this repo who could be promoted to co-maintainers? That should help to reduce the burden and risk on having a single maintainer.

[2021-02-10 15:59] auvipy commented on #298
https://pypi.org/project/drf-extensions/0.7.0/

[2021-02-10 15:59] #298 closed

[2021-02-10 16:00] auvipy commented on #294
https://pypi.org/project/drf-extensions/0.7.0/, please try

[2021-02-10 16:00] #294 closed

[2021-02-10 16:01] auvipy commented on #277
try https://pypi.org/project/drf-extensions/0.7.0/

[2021-02-10 16:07] domdinicola commented on #294
@auvipy thanks and congrants

[2021-02-10 16:12] auvipy commented on #294
thanks :D married life is quite challenging so far!

[2021-02-11 09:07] #277 closed

[2021-02-15 15:04] TJHeeringa opened #304 "Bulk create"
I was looking for a bulk create and a bulk delete option for DRF. I see that in the code there is a bulk create and a bulk update. Would it be possible to add a bulk create too, that uses the validation from a serializer?

I am not sure how this would look like, but I guess it would look something like

[code]

[2021-04-01 08:15] TJHeeringa opened #305 "Django Cron Abandoned"
According to https://github.com/Tivix/django-cron/issues/158#issuecomment-648467312 the project is abandoned. It is a very useful package and it would be a shame it got lost. @auvipy Would it be possible to add it to this repo?

[2021-04-01 08:23] auvipy commented on #305
yes, PR welcome. or I could fork the project and release a new version

[2021-04-01 08:31] chibisov commented on #305
I've just got email about this issues. How does cron project relates to rest framework extensions? I don't feel like it should be merged into this repo.

[2021-04-01 08:46] TJHeeringa commented on #305
Rest Framework extensions is a collection of useful extensions for django rest. I see the djang cron project as such, however I realized the package django-cron does also work for project with only django and no DRF. So maybe it is not the best idea to merge it into this repo.

[2021-04-01 10:08] auvipy commented on #305
i can fork and release a new package in modified name.

[2021-04-11 08:25] artragis opened #306 "Not compatible with django 3.2"
Hello,

Working on https://github.com/zestedesavoir/zds-site upgrade to django 3.2 I noticed drf-extensions is not compatible with django 3.2 because of a change in the `Response` object.

As a result the cache application throws error `Attribute error : Response has no attribute _headers`.

[2021-04-12 16:05] mahyess opened #308 "NestedViewSetMixin not working in custom actions"
I don't know if I am not using `NestedViewSetMixin` properly but queryset filter with `parent_lookup__id` doesn't work with ModelViewSet's custom actions.

The filter works properly when used in `ListModelMixin`'s list action override, but when used in similar way with custom actions, the filter doesn't seem to work at all.

Here is a simple use case of mine:

[code]

[code]

[code]

Is it because

[2021-04-18 08:12] #306 closed

[2021-05-03 15:47] domdinicola commented on #306
pls release a new version!!

[2021-05-17 08:44] macbotxxx opened #309 "My Cron Job runs twice"
i develop a financial app that gives the customers their monthly income according to the percentages , but when i set up the cron job using the following package , the function runs twice and thats bad ,, is there any solution to this

[2021-06-09 19:05] domdinicola opened #313 "Release compatible with Django 3.2"
@auvipy can you help releasing a new version?

[2021-06-10 15:01] auvipy commented on #313
yes, please wait. i was quite busy with family purpose

[2021-06-10 15:49] domdinicola commented on #313
Hope nothing serious!
Thanks a lot!

[2021-06-16 00:55] LiamK opened #314 ""'Response' object has no attribute '_headers'""
I think I found an issue.
After updates (of everything basically) things appear stable, however the API was reporting
"'Response' object has no attribute '_headers'"

I commented out line 91 in rest_framework_extensions/cache/decorators.py
#response._headers.copy()
and it went away.  I'm guessing this is caused by a change in Django 3.2.  The introduced a HttpResponse.headers field, but I tried re

[2021-06-21 14:04] daggaz commented on #314
duplicate of #306

[2021-07-16 17:51] domdinicola commented on #314
duplicate of https://github.com/chibisov/drf-extensions/issues/313

[2021-07-17 17:35] auvipy commented on #314
i will try to cut on monday

[2021-07-24 17:42] fatogun commented on #280
File "/app/.heroku/python/lib/python3.9/site-packages/drf_yasg/views.py", line 5, in <module>
    from django.utils.decorators import available_attrs
ImportError: cannot import name 'available_attrs' from 'django.utils.decorators' (/app/.heroku/python/lib/python3.9/site-packages/django/utils/decorators.py)

[2021-07-25 16:46] auvipy commented on #280
not related to this package

[2021-07-28 15:52] Jawayria opened #315 "Release the package with Django 3.2 support"
Hey, we are working on upgrading edX codebase to Django 3.2. This package is being used in the codebase but it isn't yet released with Django 3.2 support. Kindly consider releasing it with Django 3.2 support.
Thanks

[2021-07-30 08:07] auvipy commented on #313
done. plz consider donating for my time

[2021-07-30 08:07] #313 closed

[2021-07-30 08:07] auvipy commented on #314
done. please consider donating for my time

[2021-07-30 08:07] #314 closed

[2021-08-01 10:52] auvipy commented on #315
released please consider donating for the project

[2021-08-01 10:52] #315 closed

[2021-08-02 05:34] #107 closed

[2021-09-13 03:50] blackjackgg opened #317 "get children is too slow! cache seem not very high perform"

[2021-09-13 03:50] #317 closed

[2021-09-22 06:42] tirkarthi opened #318 "distutils has been deprecated in Python 3.10 in favour of setuptools"
https://github.com/chibisov/drf-extensions/blob/2a0bd3b66245a05a58e8e1d3bb62bf900520517e/rest_framework_extensions/utils.py#L2

Ref : https://www.python.org/dev/peps/pep-0632/#migration-advice

[2021-09-22 11:58] auvipy commented on #318
thanks! if you want to contribute you are welcome. but time is short on your side, we will take care of it.

[2022-01-10 11:46] ownerni opened #325 "We are getting AttributeError: 'Response' object has no attribute '_headers'"
Line: rest_framework_extensions/cache/decorators.py

We are using Cache Response Decorator, in our APIs _headers are not present since we are using custom Response Class

[2022-01-10 12:39] auvipy commented on #325
version?

[2022-02-04 10:40] #308 closed

[2022-02-18 20:28] #301 closed

[2022-09-30 23:52] radokristof opened #332 "Nested router lookup by multiple fields"
Right now, I'm using MultipleLookupFieldsMixin for enabling to lookup an object by multiple unique fields.

[code]

However with nested routes, I can only specify one parents_query_lookups. Is it somehow possible to use this mixin in the nested viewset as well, so it would work with all lookup field?

[2022-10-01 21:26] radokristof commented on #332
I was able to achieve this by overriding the `get_parents_query_dict` method

[2022-10-01 21:26] #332 closed

[2022-10-07 05:55] cristihainic commented on #325
This issue stems from `drf-extensions` not supporting Django >= 4.0 yet.

[2022-10-07 06:44] #281 closed

[2022-10-07 06:53] cristihainic commented on #325
this is how others have fixed it. LGTM: https://gitlab.com/offensive-security/offsec-platform/backend/-/merge_requests/2554

[2022-10-07 06:54] cristihainic commented on #325
This is how others have fixed it; LGTM: https://gitlab.com/offensive-security/offsec-platform/backend/-/merge_requests/2554

[2022-10-07 06:55] cristihainic commented on #325
this is how others have fixed this issue, LGTM: https://github.com/uptick/django-batch-requests/pull/11/files